{% load xextends %}
{% xextends "events/base.html" with secondary_nav="my_tickets" %}

{% load loops %}

{% block content %}
    <div class="l-container">
        <div class="l-primary-content block-list">
            <div class="block block-list__item">
                <header class="block__header">
                    <h2 class="block__header-text">Cancel {{ticket.event}} Tickets</h2>
                </header>

                <form action="{% url "cancel_ticket" ticket.id %}{% if request.GET.redirect_to %}?redirect_to={{request.GET.redirect_to}}{% endif %}" method="POST">
                    <p>Are you sure you wish to cancel your <strong>{{ticket.number}}</strong> tickets to The {{ticket.event}}?</p>
                    {% csrf_token %}
                    <button class="warning" type="submit">Confirm</button>
                    <a class="button" href="{% if request.GET.redirect_to %}{{request.GET.redirect_to}}{% else %}{% url "my_tickets" %}{% endif %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}