{% extends "base.html" %}

{% load loops %}
{% load forms %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="small-12 column">
                <h2>{{ticket.event}}</h2>
                <h3>Edit Tickets</h3>

                <form action="{% url "edit_ticket" ticket.id %}{% if request.GET.redirect_to %}?redirect_to={{request.GET.redirect_to}}{% endif %}" method="POST" class="form">
                    {% csrf_token %}
                    {{form|render}}
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}