{% extends "base.html" %}

{% load loops %}
{% load foundation %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="small-12 column">
                <h2>{{ticket.event.heading}}</h2>
                <h3>Edit Tickets</h3>

                <form action="{% url "edit_ticket" ticket.id %}" method="POST">
                    {% csrf_token %}
                    {{form|foundation}}
                    <button type="submit">Submit</button>
                </form>

                {% if event.sponsor %}
                    <p>The {{event}} is kindly sponsored by <a href="{{event.sponsor.url}}">{{event.sponsor.name}}</a>.</p>
             
                    <blockquote>
                        <div style="text-align: center; margin-bottom: 2em;">
                            <a href="{{event.sponsor.url}}"><img style="max-width: 100%;" src="{{event.sponsor.logo.url}}"></a>
                        </div>
                        {{event.sponsor.description|safe}}
                    </blockquote>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}