{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="small-12 column">
                <h2>Edit Username</h2>
                <form method="POST" action="{% url "edit_username" member.pk %}">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit">Save</button>
                    <a class="button warning" href="{% url "settings" member.pk %}">Cancel</a>
                </form>
            </div>
        </p>
    </div>
{% endblock %}