{% load xextends %}
{% xextends "events/base.html" with secondary_nav="my_tickets" %}

{% load staticfiles %}

{% block content %}
    <div class="l-container">
        <div class="l-primary-content block-list">
            <div class="block block-list__item">
                <header class="block__header">
                    <h2 class="block__header-text">My Tickets</h2>
                </header>

                <table>
                    <tbody>
                        {% for ticket in tickets %}
                            <tr class="{% if ticket.cancelled %}low-opacity full-opacity-on-hover{% endif %}">
                                <td>
                                    <a href="{% url "view_event" ticket.event.pk %}">{{ticket.event}}</a>
                                </td>
                                <td>
                                    {% if ticket.cancelled %}
                                        <p>You cancelled <strong>{{ticket.number}}</strong> tickets.</p>
                                    {% else %}
                                        <p>You have <strong>{{ticket.number}}</strong> ticket{{ticket.number|pluralize:",s"}}.</p>
                                    {% endif %}
                                </td>
                                {% if ticket.event.is_future and not ticket.cancelled %}
                                    <td>
                                        <a href="{% url "edit_ticket" ticket.pk %}" class="btn">Edit</a>
                                    </td>
                                    <td>
                                        <a href="{% url "cancel_ticket" ticket.pk %}" class="btn">Cancel</a>
                                    </td>
                                {% else %}
                                    <td></td><td></td>
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}