{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="small-12 columns">
        <h1>Upload new profile photo for {{member.profile}}</h1>
    </div>
</div>
<div class="row">
    <div class="small-7 columns">
        <img src="{{profile_photo.url}}" id="to_be_cropped">
        <form class="form" action="{% url "resize_crop_profile_photo" member.id %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="small-5 columns">
        <h3>Select the area of the image you would like to use as your profile photo.</h3>
    </div>
</div>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static "jcrop/css/jquery.Jcrop.min.css" %}">
{% endblock %}

{% block scripts %}
    <script src="{% static "jcrop/js/jquery.color.js" %}"></script>
    <script src="{% static "jcrop/js/jquery.Jcrop.min.js" %}"></script>
    <script type="text/coffeescript" src="{% static "coffeescript/members/resize_crop_profile_photo.coffee" %}"></script>
{% endblock %}