{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="small-12 column">
                <h2>Settings</h2>

                <table>
                    <tr>
                        <th>Username</th>
                        <td>{{member.username}}</td>
                        <td><a href="{% url "edit_username" member.pk %}">Edit</a></td>
                    </tr>
                    <tr>
                        <th>Email Addresses</th>
                        <td>{{member.emailaddress_set.count}} address{{member.emailaddress_set.count|pluralize:",es"}}</td>
                        <td><a href="{% url "account_email" %}">Edit</a></td>
                    </tr>
                    <tr>
                        <th>Social Accounts</th>
                        <td>{{member.socialaccount_set.count}} account{{member.socialaccount_set.count|pluralize:",s"}}</td>
                        <td><a href="{% url "socialaccount_connections" %}">Edit</a></td>
                    <tr>
                        <th>Password</th>
                        <td>**********</td>
                        <td><a href="{% url "account_set_password" %}">Edit</a></td>
                    </tr>
                    <!-- <tr>
                        <th>Notifications</th>
                        <th></th>
                        <th><a href="{% url "notifications_settings" %}">Notification Settings</a></th>
                    </tr> -->
                </table>
            </div>
        </p>
    </div>
{% endblock %}