{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="small-12 column">
                <h2>{{member}}</h2>
                {% if member == request.user %} 
                    <a class="button" href="{% url "edit_profile" member.pk %}">Edit Profile</a>
                {% endif %}

                <div class="row">
                    <div class="small-6 column">
                        <img src="{{member.profile.photo_url}}" style="max-width: 300px;">
                    </div>
                    <div class="small-6 column">
                        <table style="width: 100%">
                            <tr>
                                <th>First Name</th>
                                <td>{{member.first_name}}</td>
                            </tr>
                            <tr>
                                <th>Last Name</th>
                                <td>{{member.last_name}}</td>
                            </tr>
                            {% if member.profile.show_github_urls %}
                                {% if member.profile.github_urls|length > 0 %}
                                    <tr>
                                        <th>Github</th>
                                        <td>
                                            {% for url in member.profile.github_urls %}
                                                <a href="{{url}}" target="_BLANK">{{url}}</a><br />
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                            {% if member.profile.show_facebook_urls %}
                                {% if member.profile.facebook_urls|length > 0 %}
                                    <tr>
                                        <th>Facebook</th>
                                        <td>
                                            {% for url in member.profile.facebook_urls %}
                                                <a href="{{url}}" target="_BLANK">{{url}}</a><br />
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                        </table>
                        <p>{{member.profile.bio|linebreaks}}</p>
                    </div>
                </div>
            </div>
        </p>
    </div>
{% endblock %}