{% load xextends %}
{% load forms %}

{% xextends "admin/base.html" with secondary_nav="payment_handlers" %}

{% block admin_content %}
    <div class="l-container">
        <div class="l-primary-content block-list">
            <div class="block block-list__item">
                <header class="block__header">
                    <h2 class="block__header-text">Add Payment Handler</h2>
                </header>

                <form method="POST" action="{% url "add_payment_handler" %}" class="form">
                    {% csrf_token %}
                    {{form|render}}

                    <button type="submit">Submit</button>
                    <a href="{% url "payment_handlers" %}" class="button warning">Cancel</a>
                </form>
            </div>
        </div>
        <div class="l-secondary-content block-list">
            <div class="block block-list__item">
                <header class="block__header">
                    <h2 class="block__header-text block__header-text--small">Add Payment Handler</h2>
                </header>
            </div>
        </div>
    </div>
{% endblock %}