{% extends "base.html" %}

{% load i18n %}

{% block secondary_navigation %}
    <ul class="inline-list inline-list--space">
        <li><a class="secondary-navigation__link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
        <li><a class="secondary-navigation__link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
        <li><a class="secondary-navigation__link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password" %}</a></li>
    </ul>
{% endblock %}