{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load forms %}
{% load auth %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="l-container">
        <div class="l-primary-content block-list">
            <div class="block block-list__item">
                <header class="block__header">
                    <h2 class="block__header-text">{% trans "Sign Up" %}</h2>
                </header>

                <p>{% blocktrans %}Already have an account? <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

                <form class="signup form" id="signup_form" method="post" action="{% url 'account_signup' %}">
                  {% csrf_token %}
                  {{ form|render }}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
                </form>
            </div>
        </div>
        <div class="l-secondary-content block-list">
            {% if ""|providers_enabled %}
                <div class="block block-list__item">
                    <header class="block__header">
                        <h2 class="block__header-text block__header-text--small">{% trans "Third Party Accounts" %}</h2>
                    </header>
                    <p>Sign up with one of your existing third party accounts.</p>
                    <div class="socialaccount_ballot">
                        <ul class="socialaccount_providers">
                            {% include "account/socialaccount_provider_list.html" with process="login" %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}