{% load xextends %}

{% xextends "admin/configuration/base.html" with tertiary_nav="authentication" %}

{% block configuration_content %}
    <div class="block block-list__item">
        <header class="block__header">
            <h2 class="block__header-text">Authentication</h2>
        </header>
        <table class="data-table">
            <thead>
                <tr>
                    <th>Provider</th>
                    <th>Name</th>
                    <th>Client ID</th>
                    <th>Secret</th>
                    <th>Key</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for app in social_apps %}
                    <tr>
                        <td>{{app.provider}}</td>
                        <td>{{app.name}}</td>
                        <td>{{app.client_id}}</td>
                        <td>{{app.secret}}</td>
                        <td>{{app.key}}</td>
                        <td>
                            <a href="{% url "edit_authentication" app.pk %}"><i class="fa fa-pencil" title="Edit"></i></a>
                            <a class="confirm" data-confirm="Are you sure you want to delete this authentication provider?" href="{% url "delete_authentication" app.pk %}"><i class="fa fa-trash" title="Delete"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block secondary_content %}
    <div class="block block-list__item">
        <header class="block__header">
            <h2 class="block__header-text block__header-text--small">Authentication</h2>
        </header>
        <a class="btn" href="{% url "add_authentication" %}"><i class="fa fa-plus"></i> Add Provider</a>
    </div>
{% endblock %}