{% load xextends %}
{% load layout %}

{% xextends "admin/base.html" with secondary_nav="configuration" %}

{% block admin_content %}
    <div class="l-container">
        <div class="l-primary-content block-list">
            {% block configuration_content %}
            {% endblock %}
        </div>
        <div class="l-secondary-content block-list">
                <div class="block block-list__item navigation-block">
                <ul class="navigation-block__list">
                    {% tertiary_navigation_item link="configuration" text="Configuration" %}
                    {% tertiary_navigation_item link="authentication" text="Authentication" %}
                    {% tertiary_navigation_item link="payment_handlers" text="Payment" %}
                </ul>
            </div>
            {% block secondary_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}