{% load xextends %}
{% load forms %}

{% xextends "admin/configuration/base.html" with tertiary_nav="authentication" %}

{% block configuration_content %}
    <div class="block block-list__item">
        <header class="block__header">
            <h2 class="block__header-text">Edit Authentication Provider</h2>
        </header>

        <form method="POST" action="{% url "edit_authentication" social_app.pk %}" class="form">
            {% csrf_token %}
            {{form|render}}

            <button type="submit">Submit</button>
            <a href="{% url "authentication" %}" class="button warning">Cancel</a>
        </form>
    </div>
{% endblock %}

{% block secondary_content %}
    <div class="block block-list__item">
        <header class="block__header">
            <h2 class="block__header-text block__header-text--small">Edit Authentication Provider</h2>
        </header>
    </div>
{% endblock %}