{% load plugins %}
{% load tickets %}

<div class="l-container">
    <div class="l-primary-content">
        <header class="block__header">
            <h2 class="block__header-text">
                <a href="{% url "view_event" event.pk %}" class="plain-link">{{event.title}}</a>
            </h2>
        </header>
        {{"events.event_configuration.Description"|get_configuration:event}}
        <ul class="inline-list inline-list--space">
            <li class="valign-together small"><i class="fa fa-user"></i> <a href="{% url "view_event_attendees" event.pk %}">{{event.attending_users|length}} Attendee{{event.attending_users|length|pluralize}}</a></li>

            {% plugin_block "events.event_block.small_info" event %}
        </ul>
    </div>
    <div class="l-secondary-content">
        <div class="icon-text">
            <i class="fa fa-calendar icon-text__icon"></i>
            <span class="icon-text__text">{{event.date_range}}</span>
        </div>
        {% include "events/_location.html" %}

        <div class="ticket-information event-block__sidebar-spacing">
            {% if event.uses_tickets %}
                {% if event.is_future %}
                    {% with event|purchasable_tickets_no:request.user as purchasable_tickets_no %}
                        <span class="ticket-information__available"><strong>{{purchasable_tickets_no}}</strong> Ticket{{purchasable_tickets_no|pluralize}} available</span>
                        {% if purchasable_tickets_no > 0 %}
                            <a href="{% url "view_event" event.pk %}" class="btn btn--full-width">
                                Get Tickets
                            </a>
                        {% else %}
                            {% if event|waiting_list_available:request.user %}
                                <a href="{% url "view_event" event.pk %}" class="btn btn--full-width">
                                    Waiting List Available
                                </a>
                            {% else %}
                                <a href="#" class="btn btn--full-width btn--disabled">
                                    No Tickets Available
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                {% else %}
                    <span class="ticket-information__available"><strong>0</strong> Tickets available</span>
                    <a href="#" class="btn btn--full-width btn--disabled">
                        No Tickets Available
                    </a>
                {% endif %}
            {% endif %}

            {% if event.uses_rsvps %}
                {% if event.is_future %}
                    <div class="toggle toggle--no-content">
                        <div class="toggle__item toggle__item--first{% if request.user|rsvp_going:event %} toggle__item--active{% endif %}">
                            {% if request.user|rsvp_going:event %}
                                Going
                            {% else %}
                                <a class="post-link" href="{% url "rsvp_going" event.pk %}">Going</a>
                            {% endif %}
                        </div>
                        <div class="toggle__item toggle__item--last{% if not request.user|rsvp_going:event %} toggle__item--active{% endif %}">
                            {% if not request.user|rsvp_going:event %}
                                Not Going
                            {% else %}
                                <a class="post-link" href="{% url "rsvp_not_going" event.pk %}">Not Going</a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>