{% load loops %}
{% load currency %}
{% load plugins %}
{% load tickets %}

{% with "events.event_configuration.MaxTicketsPerPerson"|get_configuration:event as max_tickets %}
    {% with request.user|tickets:event as user_tickets %}
        <form action="{% url "purchase_tickets" event.pk %}" method="POST" class="purchase-tickets-widget" data-active-tickets="{{event|visible_tickets_json:request.user}}" data-max-tickets="{{max_tickets}}" data-already-purchased="{{user_tickets.count}}"{% if "events.event_configuration.MaxTicketsPerPerson"|configuration_is_enabled:event %} data-max-tickets-enabled="true"{% endif %}>

            {% csrf_token %}

            {% if "events.event_configuration.MaxTicketsPerPerson"|configuration_is_enabled:event %}
                Maximum {{max_tickets}} ticket{{max_tickets|pluralize}} per person
            {% endif %}

            {% for errors in form.errors.values %}
                {% for error in errors %}
                    <div class="message-box message-box--error">
                        {{error}}
                    </div>
                {% endfor %}
            {% endfor %}

            <table class="tickets">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Remaining</th>
                        <th></th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko foreach: active_tickets -->
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: remaining_tickets_formatted()"></td>
                            <td data-bind="text: price_formatted()"></td>
                            <td>
                                <!-- ko if: purchasable_tickets() > 0 -->
                                    <select data-bind="options: purchasable_ticket_options, value: purchasing_tickets, attr: {name: 'tickets_' + pk()}"></select>
                                <!-- /ko -->
                            </td>
                        </tr>
                    <!-- /ko -->
                    <tr class="tickets__totals">
                        <td></td>
                        <td></td>
                        <td data-bind="text: total_cost_formatted"></td>
                        <td>
                            <button class="btn" type="submit" data-bind="attr: {disabled: purchasing_tickets() == 0}">Continue</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    {% endwith %}
{% endwith %}