{% load xextends %}
{% load plugins %}
{% load layout %}
{% xextends "base.html" with primary_nav="events" %}


{% block secondary_navigation %}
    <ul class="inline-list inline-list--space">
        {% secondary_navigation_item link="events" text="Upcoming" %}
        {% secondary_navigation_item link="past_events" text="Past" %}
        {% secondary_navigation_item link="event_feeds" text="Feeds" %}
        {% if request.user.is_authenticated %}
            {% secondary_navigation_item link="my_tickets" text="My Tickets" %}
        {% endif %}

        {% plugin_block "events.secondary_navigation" secondary_nav %}
    </ul>
{% endblock %}