{% load xextends %}
{% xextends "events/base.html" with secondary_nav="my_tickets" %}
{% load plugins %}

{% block content %}
    <div class="l-container">
        <div class="l-primary-content block-list">
            <div class="block block-list__item">
                <header class="block__header">
                    <h2 class="block__header-text">{{event}}</h2>
                </header>

                <p>You have purchased <strong>{{order.tickets.count}}</strong> ticket{{order.tickets.count|pluralize:"s"}} to <a href="{% url "view_event" event.pk %}">the {{event}}</a>.</p>

                <table>
                    <tbody>
                        {% include "members/_tickets_table.html" with order=order %}
                    </tbody>
                </table>

                <p>You will be emailed with more information about the event soon.</p>
            </div>
        </div>
    </div>
{% endblock %}