db.sqlite3
ve
*.pyc
compiled_static
bower_components
.DS_Store
mock-img_*.jpeg
mock-img.jpeg
.coverage
media/profile_photos
htmlcov
vcr.yaml
fixtures/socialauth_live.yaml
media/media
docs/_build
docs/api
static/css/generated.css
media/site
media/tmp
media/css
happening.sublime-workspace
happening.sublime-project
static/.sass-cache
.sass-cache
styleguide
media/events/*
