.form {

}

.form--inline {
    display: inline;
}

.form__field {
    margin-bottom: 1em;
}


.form__field {

    label {
        text-transform:uppercase;
        opacity: 0.7;
    }

    input, textarea {
        border: none;
        padding: 0.5em;

        width: 100%;
    }

    input[type="checkbox"] {
        // This allows us to put the checkbox alongside the label
        width: inherit;
    }

    select {
        width: 100%;
        border: none;
        height: 2em;
        background: #FFF;
        border-radius: 0;
        @include appearance(none);
        padding-left: 0.4em;
    }
}

.form__field__label {
    margin-bottom: 0.3em;
}

.form__field--disabled {
    opacity: 0.5;
}