@import "../../../node_modules/quill/dist/quill";
@import "../../../node_modules/quill/dist/quill.snow";

.ql-container, .ql-toolbar {
	background: #FFF;
}

.ql-toolbar button {
    margin: 0;
}

.ql-container {
	height: 12em !important;
}