/*doc
---
title: Toggle
name: toggle
category: Forms
---

Allow toggling between a number of options

```html_example

<div class="toggle">
    <div class="toggle__item toggle__item--active toggle__item--first" data-toggle="#send-once">Send Once</div>
    <div class="toggle__item toggle__item--last" data-toggle="#schedule">Schedule</div>
</div>
```
*/
.toggle {
	display: table;
    width: 100%;
    table-layout: fixed;
}

.toggle__item {
	@extend .btn;

	display: table-cell;
    text-align: center;
    opacity: 0.5;
    color: VAR(--BUTTON-COLOR);

    &.toggle__item--active {
    	opacity: 1;
    }

    &:active {
    	top: 0px;
    }

    a {
        color: VAR(--BUTTON-COLOR);
        text-decoration: none;
    }
}

.toggle__item--first {
    border-top-left-radius: 10px;
}

.toggle__item--last {
    border-top-right-radius: 10px;
}

.toggle--no-content .toggle__item--first {
    border-bottom-left-radius: 10px;
}

.toggle--no-content .toggle__item--last {
    border-bottom-right-radius: 10px;
}