{% load plugins %}
{% load layout %}

{% with v="members.configuration.MembersListVisibility"|get_configuration %}
    {% if v == "all" %}
        {% primary_navigation_item link="members" text="Members" icon="user" %}
    {% else %}
        {% if request.user.is_authenticated %}
            {% if v == "staff" %}
                {% if request.user.is_staff %}
                    {% primary_navigation_item link="members" text="Members" icon="user" %}
                {% endif %}
            {% else %}
                {% primary_navigation_item link="members" text="Members" icon="user" %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endwith %}