{% load plugins %}
{% with v="members.configuration.MembersListVisibility"|get_configuration %}
    {% if v == "all" %}
        {% include "_primary_navigation_item.html" with link="members" text="Members" icon="user" %}
    {% else %}
        {% if request.user.is_authenticated %}
            {% if v == "staff" %}
                {% if request.user.is_staff %}
                    {% include "_primary_navigation_item.html" with link="members" text="Members" icon="user" %}
                {% endif %}
            {% else %}
                {% include "_primary_navigation_item.html" with link="members" text="Members" icon="user" %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endwith %}