{% load staticfiles %}
{% load happening_ganalytics %}
{% load plugins %}

<!DOCTYPE html>
<html>
<head>
    <title>{{"pages.configuration.SiteTitle"|get_configuration}}</title>
    <script src="{% static "bundles/main.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "bundles/style.css" %}">

    {{ happening_site|theme_settings }}
    
    <!-- Web Fonts -->
    <link href='//fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
    <!-- End Web Fonts -->

    {% if happening_site.logo %}
        <link rel="shortcut icon" type="image/x-icon" href="{{happening_site.logo.url}}" />
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% ganalytics %}
</head>
<body>
    <header class="main-header">
        <div class="l-container">
            <h2 class="main-header__heading main-header__padded">
                <a href="{% url "index" %}" class="plain-link valign-together">
                    {% if happening_site.logo %}
                        <img class="main-header__logo" src="{{happening_site.logo.url}}" alt="{{"pages.configuration.SiteTitle"|get_configuration}}">
                    {% endif %}
                    <span>
                        {{"pages.configuration.SiteTitle"|get_configuration}}
                    </span>
                </a>
            </h1>

            <div class="main-header__menu menu">
                <ul class="menu__list inline-list">
                    {{navigation_items|safe}}
                </ul>
            </div>
        </div>
    </header>
    <nav class="secondary-navigation">
        <div class="l-container">
            {% block secondary_navigation %}
                <ul class="inline-list inline-list--space">
                    {% include "_secondary_navigation_item.html" with link="index" text="Home" %}

                    {% plugin_block "happening.secondary_navigation" secondary_nav %}

                    {% for page in pages %}
                        <li><a class="secondary-navigation__link {% if secondary_nav == page.url %}secondary-navigation__link--active{% endif %}" href="{% url "view_page" page.url %}">{{page.title}}</a></li>
                    {% endfor %}
                </ul>
            {% endblock %}
        </div>
    </nav>

    {% if messages %}
        <div class="l-container">
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="message-box message-box--error">
                {% else %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                        <div class="message-box message-box--info">
                    {% else %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="message-box message-box--success">
                        {% else %}
                            <div class="message-box">
                        {% endif %}
                    {% endif %}
                {% endif %}

                    <p>{{message}}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% plugin_block "happening.messages" %}
    
    {% block content %}
    {% endblock %}

    {% block script %}

    {% endblock %}
</body>
</html>