{% extends "notifications/notifications/events/base.html" %}

{% block text %}
    <p>You have purchased <strong>{{tickets_count}}</strong> ticket{{tickets_count|pluralize}} for <a id="main-link" href="{% url "view_event" event.id %}">{{event_name}}</a>.</p>
{% endblock %}

{% block subject %}Your ticket{{tickets_count|pluralize}} for {{event_name}}{% endblock %}

{% block email_content %}
You have purchased **{{tickets_count}}** ticket{{tickets_count|pluralize}} for **{{event_name}}**.
{% endblock %}
