{% extends "notifications/notification.html" %}
{% load staticfiles %}
{% load plugins %}

{% block text %}
    <p>You have paid £<strong>{{amount}}</strong> for <a id="main-link" href="{% url "my_membership" %}">Southampton Code Dojo Membership</a>.</p>
{% endblock %}

{% block subject %}{{"pages.configuration.SiteTitle"|get_configuration}} Membership Payment{% endblock %}

{% block email %}
This email is to confirm that payment of **£{{amount}}** was successfully recieved. You should recieve a full receipt in a separate email.
{% endblock %}
