/*doc
---
title: Plain Link
name: plain-link
category: Modifiers
---

Remove fancy styling from links

```html_example

<a href="#">Default Link</a>
<a href="#" class="plain-link">Plain Link</a>

```
*/
.plain-link {
    color: inherit;
    text-decoration: none;
}