/*doc
---
title: Input Grid
name: input-grid
category: Input
---

A grid used to lay out a grid of options, e.g. when filtering.

```html_example
    <div class="input-grid">
        <label class="input-grid__item"><input type="checkbox" class="checkbox">Global Game Jam</label>
        <label class="input-grid__item"><input type="checkbox" class="checkbox">Board Games Night</label>
    </div>
```
*/

.input-grid {
    @include outer-container;
}

.input-grid__item {
    @include span-columns(6);
}