.menu {

}

.menu__list {
    .menu__item__icon {
        display: block;
        text-align: center;
        font-size: 1.5em;
        color: var(--MENU-COLOR);
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .menu__item__text {
        display: block;
        text-align: center;
        color: var(--MENU-COLOR);
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

.menu__item {
    margin-right: 1em;
}

.menu__item--with-icon {

}

.menu__item--active, .menu__item:hover {
    background: var(--MENU-HIGHLIGHT-BACKGROUND-COLOR);
    color: var(--MENU-HIGHLIGHT-COLOR);

    .menu__item__icon, .menu__item__text {
        color: var(--MENU-HIGHLIGHT-COLOR);
    }
}