.notifications-list {

}

.notifications-list__notification {
    cursor: pointer;
}

.notifications-list__notification > .l-container {
    display: flex;
    align-items: center;
}

.notifications-list__notification:hover {
    background: $MENU-HIGHLIGHT-BACKGROUND-COLOR;
}

.notifications-list__notification--unread {
    background: $BLOCK-COLOR;
}

.notifications-list__more {
    text-align: center;
}