{% load xextends %}

{% xextends "admin/base.html" with secondary_nav="payment_handlers" %}

{% block admin_content %}
    <div class="l-container">
        <div class="l-primary-content block-list">
            <div class="block block-list__item">
                <header class="block__header">
                    <h2 class="block__header-text">Payment Handlers</h2>
                </header>
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>Provider</th>
                            <th>Description</th>
                            <th>Active</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment_handler in payment_handlers %}
                            <tr>
                                <td>Stripe</td>
                                <td>{{payment_handler.description}}</td>
                                <td>
                                    {% if payment_handler.active %}
                                        True
                                    {% else %}
                                        <a href="{% url "make_active_payment_handler" payment_handler.pk %}">False</a>
                                    {% endif %}
                                </td>
                                <td><a href="{% url "edit_payment_handler" payment_handler.pk %}">Edit</a></td>
                                <td><a class="confirm" data-confirm="Are you sure you want to delete this payment handler?" href="{% url "delete_payment_handler" payment_handler.pk %}">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="l-secondary-content block-list">
            <div class="block block-list__item">
                <header class="block__header">
                    <h2 class="block__header-text block__header-text--small">Payment Handlers</h2>
                </header>
                <a class="btn" href="{% url "add_payment_handler" %}">Add Payment Handler</a>
            </div>
        </div>
    </div>
{% endblock %}