{% extends "staff/base.html" %}
{% load staticfiles %}
{% load forms %}

{% block staff_content %}
    <div class="l-container">
        <div class="l-primary-content block-list">
            <div class="block block-list__item">
                <header class="block__header valign-together">
                    <h2 class="block__header-text">New Event</h2>
                    <!--
                    {% if event_presets|length > 0 %}
                        <a href="#" class="btn btn--small dropdown block__header-extra-link" data-jq-dropdown="#presets-list">Load Preset</a>
                        <div id="presets-list" class="jq-dropdown jq-dropdown-tip">
                            <ul class="jq-dropdown-menu">
                                {% for preset in event_presets %}
                                    <li><a href="#" data-preset="{{preset.value}}" class="event-preset">{{preset.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    -->
                </header>

                    
                <form method="POST" action="{% url "create_event" %}">
                    {% csrf_token %}
                    {{form|render}}
                    <button type="submit">Save</button>
                    <a class="button warning" href="{% url "staff_events" %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}