{% extends "staff/base.html" %}
{% load forms %}

{% block staff_content %}
    <div class="l-container">
        <div class="l-primary-content block-list">
            <div class="block block-list__item">
                <header class="block__header">
                    <h2 class="block__header-text">Edit {{page.title}}</h2>
                </header>
                    
                <form method="POST" action="{% url "edit_page" page.pk %}" class="form">
                    {% csrf_token %}
                    {{form|render}}
                    <button type="submit">Save</button>
                    <a href="{% url "staff_pages" %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}