{% extends "staff/base.html" %}
{% load json %}

{% block staff_content %}
    <div class="l-container edit-page" data-block-types='{{block_types|jsonify}}' data-content='{{page.content|jsonify}}'>
        <div class="l-primary-content block-list">
            <div class="block block-list__item">
                <header class="block__header">
                    <h2 class="block__header-text">Edit {{page.title}}</h2>
                </header>
                    
                <form method="POST" action="{% url "edit_page" page.pk %}" class="form">
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}