{% load xextends %}

{% xextends "staff/base.html" with secondary_nav="staff_events" %}
{% load plugins %}
{% load tickets %}
{% load forms %}

{% block content %}
    <div class="l-container">
        <div class="l-primary-content block-list">
            <div class="block block-list__item">
                <header class="block__header">
                    <h2 class="block__header-text">{{ticket_type.event}} - {{ticket_type.name}} waiting list</h2>
                </header>
                <p><strong>{{ticket_type.remaining_tickets}}</strong> ticket{{ticket_type.remaining_tickets|pluralize}} remaining.</p>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subscription in ticket_type.waiting_list_subscriptions.all %}
                            <tr>
                                <td>
                                    <a title="{{subscription.user.profile}}" href="{% url "view_profile" subscription.user.pk %}">
                                        <img class="members-list__image" src="{{subscription.user.profile.photo_url}}">
                                    </a>
                                </td>
                                <td>
                                    <a title="{{subscription.user.profile}}" href="{% url "view_profile" subscription.user.pk %}">{{subscription.user}}</a><br >
                                    {{subscription.user.first_name}} {{subscription.user.last_name}}
                                </td>
                                <td>
                                    {% if ticket_type|purchasable_by:subscription.user %}
                                        <strong>Can Purchase</strong>
                                    {% endif %}
                                </td>
                                <td>
                                    <ul class="button-list">
                                        <li>
                                            <form method="POST" action="{% url "remove_from_waiting_list" ticket_type.pk subscription.user.pk %}">
                                                {% csrf_token %}
                                                <button type="submit">Remove</button>
                                            </form>
                                        </li>
                                        {% if ticket_type.remaining_tickets > 0 and not ticket_type|purchasable_by:subscription.user %}
                                            <li>
                                                <form method="POST" action="{% url "release_to_waiting_list" ticket_type.pk subscription.user.pk %}">
                                                    {% csrf_token %}
                                                    <button type="submit">Release</button>
                                                </form>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="block block-list__item">
                <header class="block__header">
                    <h2 class="block__header-text">Settings</h2>
                    <form method="POST" action="{% url "waiting_list_settings" ticket_type.pk %}">
                        {% csrf_token %}
                        {{form|render}}
                        <button type="submit">Save</button>
                    </form>
                </header>
            </div>
        </div>
        <div class="l-secondary-content block-list">
        </div>
    </div>
{% endblock %}