{% load xextends %}

{% xextends "staff/base.html" with secondary_nav="staff_members" %}

{% block staff_content %}
    <div class="l-container">
        <div class="l-primary-content block-list">
            <div class="block block-list__item">
                <header class="block__header">
                    <h2 class="block__header-text">Members</h2>
                </header>
                <table class="data-table" id="members-list">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Staff</th>
                            <th>Active</th>
                            <th>Paid</th>
                            <th>Attendance</th>
                            <th>Tags</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in members %}
                            <tr>
                                <td><a href="{% url "view_profile" member.pk %}">{{member.profile}}</a></td>
                                <td>{{member.email}}</td>
                                <td class="is_staff">
                                    {% if member.is_staff %}
                                        {% if member == request.user %}
                                            <i class="fa fa-check" title="True"></i>
                                        {% else %}
                                            <a class="confirm" data-confirm="Are you sure you wish to make this member non-staff?" href="{% url "make_not_staff" member.pk %}"><i class="fa fa-check" title="True"></i></a>
                                        {% endif %}
                                    {% else %}
                                        <a class="confirm" data-confirm="Are you sure you wish to make this member staff?" href="{% url "make_staff" member.pk %}"><i class="fa fa-times" title="False"></i></a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if member.is_active %}
                                        <i class="fa fa-check" title="True"></i>
                                    {% else %}
                                        <i class="fa fa-times" title="False"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if member.profile.active_paid_membership == None %}
                                        <i class="fa fa-times" title="False"></i>
                                    {% else %}
                                        <i class="fa fa-check" title="True"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {{member.attended_tickets}}/{{member.uncancelled_tickets}}
                                </td>
                                <td>
                                    {% for tag in member.tags.all %}
                                        {{tag.tag}} 
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="{% url "edit_profile" member.pk %}"><i class="fa fa-pencil" title="Edit Profile"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="l-secondary-content block-list">
            {% include "members/_filter_block.html" %}

            <div class="block block-list__item">
                <header class="block__header">
                    <h2 class="block__header-text block__header-text--small">Members</h2>
                </header>

                <ul class="button-list">
                    <li><a class="btn" href="{% url "export_members_to_csv" %}">Export to CSV</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}