{% extends "base.html" %}

{% block content %}
<div class="row">
    <h2>Admin</h2>
    <div class="small-2 columns">
        <ul class="side-nav">
            <li><a href="{% url "staff" %}">Dashboard</a></li>
            <li><a href="{% url "staff_members" %}">Members</a></li>
            <li><a href="{% url "staff_sponsors" %}">Sponsors</a></li>
            <li><a href="{% url "staff_events" %}">Events</a></li>
            <li><a href="{% url "staff_send_email" %}">Send Email</a></li>
        </ul>
    </div>

    <div class="small-10 columns">
        <div style="padding: 10px;">
            {% block staff_content %}

            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}