{% extends "staff/base.html" %}
{% load staticfiles %}
{% load foundation %}
{% load widget_tweaks %}
{% load markdown_deux_tags %}

{% block staff_content %}
    <div class="container">
        <div class="row">
            <div class="small-12 column">
                <h2>Create preset</h2>
                    
                <form method="POST" action="{% url "create_event_preset" %}">
                    {% csrf_token %}
                    <label>Preset Name:
                    <input type="text" name="preset_name" value="{{preset.name}}">
                    </label>
                    {{form}}
                    <button type="submit">Save</button>
                    <a class="button warning" href="{% url "event_presets" %}">Cancel</a>
                </form>
            </div>
        </p>
    </div>
{% endblock %}