{% extends "staff/base.html" %}
{% load staticfiles %}
{% load foundation %}

{% block staff_content %}
    <div class="l-container">
        <div class="l-primary-content block-list">
            <div class="block block-list__item">
                <header class="block__header valign-together">
                    <h2 class="block__header-text">New Event</h2>
                    {% if event_presets|length > 0 %}
                        <a href="#" data-dropdown="event_presets" aria-controls="event_presets" aria-expanded="false" class="btn dropdown block__header-extra-link">Load Preset</a>

                        <!-- <ul id="event_presets" data-dropdown-content class="f-dropdown" aria-hidden="true">
                            {% for preset in event_presets %}
                                <li><a href="#" data-preset="{{preset.value}}" class="event_preset">{{preset.name}}</a></li>
                            {% endfor %}
                        </ul> -->
                    {% endif %}
                </header>

                    
                <form method="POST" action="{% url "create_event" %}">
                    {% csrf_token %}
                    {{form|foundation}}
                    <button type="submit">Save</button>
                    <a class="button warning" href="{% url "staff_events" %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}