{% extends "staff/base.html" %}
{% load staticfiles %}
{% load foundation %}
{% load widget_tweaks %}
{% load markdown_deux_tags %}

{% block staff_content %}
    <div class="container">
        <div class="row">
            <div class="small-12 column">
                <h2>Create Email</h2>
                    
                <form method="POST" action="{% url "create_email" %}">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit">Save</button>
                    <a class="button warning" href="{% url "staff" %}">Cancel</a>
                </form>
            </div>
        </p>
    </div>
{% endblock %}