{% extends "staff/base.html" %}
{% load staticfiles %}
{% load foundation %}
{% load widget_tweaks %}
{% load markdown_deux_tags %}

{% block staff_content %}
    <div class="container">
        <div class="row">
            <div class="small-12 column">
                <h2>Edit {{event}}</h2>
                    
                <form method="POST" action="{% url "edit_event" event.pk %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label>Title {{form.title}}</label>
                    <label>Datetime {{form.datetime}}</label>
                    <label>Available Tickets {{form.available_tickets}}</label>
                    <label>Challenge Language (<a href="#" class="load-ajax-into-input" data-ajax-url="{% url "get_vote_winner" event.pk %}" data-input-id="id_challenge_language">Load Winner</a>) {{form.challenge_language}}</label>
                    <label>Challenge Title {{form.challenge_title}}</label>
                    <label>Challenge Text<br />{% markdown_allowed %} {{form.challenge_text|add_class:"edit_markdown"}}</label>
                    <label>Solution Text<br />{% markdown_allowed %} {{form.solution_text|add_class:"edit_markdown"}}</label>
                    <label>Image {{form.image}}</label>
                    <button type="submit">Save</button>
                    <a class="button warning" href="{% url "staff_events" %}">Cancel</a>
                </form>
            </div>
        </p>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/coffeescript" src="{% static "coffeescript/edit_markdown.coffee" %}"></script>
    <script type="text/coffeescript" src="{% static "coffeescript/ajax.coffee" %}"></script>
{% endblock %}