{% extends "staff/base.html" %}
{% load plugins %}
{% load staticfiles %}

{% block staff_content %}
    <div class="container">
        <div class="row">
            <div class="small-12 column">
                <h3>{{event}}</h3>

                <a class="button" href="{% url "view_event" event.pk %}">View Event</a>

                <a class="button" href="{% url "edit_event" event.pk %}">Edit</a>
                <a class="button" href="{% url "email_event" event.pk %}">Send Email</a>

                {% plugin_block "staff.event.buttons" event %}

                <h3>Tickets</h3>
                <div>
                    <input type="search" id="filter_text" />
                </div>
                <table class="tickets searchable" data-search-input="#filter_text">
                    <tr>
                        <th>Member</th>
                        <th>Tickets</th>
                        {% plugin_block "staff.event.tickets.headers" event ticket %}
                        <th></th>
                    </tr>
                    {% for ticket in event.tickets.all %}
                        <tr {% if ticket.cancelled %}class="cancelled"{% endif %} data-searchable="{{ticket.user}} {{ticket.user.first_name}} {{ticket.user.last_name}}">
                            <td>
                                <a title="{{ticket.user.profile}}" href="{% url "view_profile" ticket.user.pk %}">
                                    {% include "members/_member_image.html" with member=ticket.user %}
                                </a>
                                <div><a title="{{ticket.user.profile}}" href="{% url "view_profile" ticket.user.pk %}">{{ticket.user}}</a></div>
                                <div><a title="{{ticket.user.profile}}" href="{% url "view_profile" ticket.user.pk %}">{{ticket.user.first_name}} {{ticket.user.last_name}}</a></div>
                            </td>
                            <td>
                                {{ticket.number}}
                                {% if ticket.cancelled %}(cancelled){% endif %}
                            </td>
                            {% plugin_block "staff.event.tickets.info" event ticket %}
                            <td>
                                {% if event.is_future and not ticket.cancelled %}
                                    <ul class="stack button-group">
                                        <li><a href="{% url "edit_ticket" ticket.id %}?redirect_to={% url "staff_event" event.id %}" class="button">Edit</a></li>
                                        <li><a href="{% url "cancel_ticket" ticket.id %}?redirect_to={% url "staff_event" event.id %}" class="button alert">Cancel</a></li>
                                        {% plugin_block "staff.event.tickets.options" event ticket %}
                                    </ul>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                {% plugin_block "staff.event" event %}
                
            </div>
        </p>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/coffeescript" src="{% static "coffeescript/search.coffee" %}"></script>
{% endblock %}