{% extends "staff/base.html" %}
{% load staticfiles %}

{% block staff_content %}
    <div class="l-container">
        <div class="l-primary-content block-list">
            <div class="block block-list__item">
                {% if events|length > 0 %}
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>Preset Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for preset in presets %}
                                <tr>
                                    <th>{{preset.name}}</th>
                                    <td>
                                        <a class="button" href="{% url "edit_event_preset" preset.pk %}">Edit</a>
                                        <a class="button warning confirm" data-confirm="Are you sure you want to delete this preset?" href="{% url "delete_event_preset" preset.pk %}">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No presets have been created yet. <a href="{% url "create_event_preset" %}">Why not create one?</a></p>
                {% endif %}
            </div>
        </div>

        <div class="l-secondary-content block-list">
            <div class="block block-list__item navigation-block">
                <ul class="navigation-block__list">
                    <li><a class="navigation-block__link" href="{% url "staff_events" %}">Events</a></li>
                    <li><a class="navigation-block__link navigation-block__link--active" href="{% url "event_presets" %}">Event Presets</a></li>
                </ul>
            </div>

            <div class="block block-list__item">
                <header class="block__header">
                    <h2 class="block__header-text block__header-text--small">Event Presets</h2>
                </header>

                <ul class="plain-list">
                    <li><a href="{% url "create_event_preset" %}">New Preset</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}