{% extends "staff/base.html" %}
{% load plugins %}

{% block staff_content %}
    <div class="container">
        <div class="row">
            <div class="small-12 column">
                <h3>{{event}}</h3>

                <a class="button" href="{% url "view_event" event.pk %}">View Event</a>

                <a class="button" href="{% url "edit_event" event.pk %}">Edit</a>
                <a class="button" href="{% url "email_event" event.pk %}">Send Email</a>

                {% plugin_block "staff.event" event %}
                
            </div>
        </p>
    </div>
{% endblock %}