{% extends "staff/base.html" %}

{% block staff_content %}
    <a class="button" href="{% url "create_event" %}">New Event</a>

    <table style="width: 100%;">
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Tickets Sold</th>
            <th></th>
        </tr>
        {% for event in events %}
            <tr>
                <td><a href="{% url "view_event" event.pk %}">{{event}}</a></td>
                <td>{{event.datetime}}</td>
                <td>{{event.tickets.count}} of {{event.available_tickets}}</td>
                <td><a href="{% url "edit_event" event.pk %}">Edit</a></td>
            </tr>
        {% endfor %}
    </table>


    <ul class="pagination">
        {% if events.has_previous %}
            <li class="arrow"><a href="?page={{ events.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="arrow unavailable"><a href="">&laquo;</a></li>
        {% endif %}

        <li class="current"><a href="">Page {{events.number}} of {{events.paginator.num_pages}}.</a></li>
        {% if events.has_next %}
            <li class="arrow"><a href="?page={{ events.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="arrow unavailable"><a href="">&raquo;</a></li>
        {% endif %}
    </ul>
{% endblock %}