{% load xextends %}

{% xextends "staff/base.html" with secondary_nav="staff_events" %}
{% load plugins %}
{% load staticfiles %}

{% block content %}
    <div class="l-container">
        <div class="l-primary-content block-list">
            <div class="block block-list__item">
                <header class="block__header">
                    <h2 class="block__header-text">{{event}}</h2>
                </header>
                <table class="data-table" id="attendees-list">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Tickets</th>
                            <th>Checked In</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in event.tickets.all %}
                            {% if not ticket.cancelled %}
                                <tr>
                                    <td>
                                        <a title="{{ticket.user.profile}}" href="{% url "view_profile" ticket.user.pk %}">
                                            <img class="members-list__image" src="{{ticket.user.profile.photo_url}}">
                                        </a>
                                    </td>
                                    <td>
                                        <a title="{{ticket.user.profile}}" href="{% url "view_profile" ticket.user.pk %}">{{ticket.user}}</a>
                                    </td>
                                    <td>
                                        {{ticket.user.first_name}} {{ticket.user.last_name}}
                                    </td>
                                    <td>
                                        {{ticket.number}}
                                    </td>
                                    <td>
                                        {% if ticket.checked_in %}
                                            True<br />
                                            {{ticket.checked_in_datetime}}
                                        {% else %}
                                            False
                                        {% endif %}
                                    </td>
                                    <td>
                                        <ul class="button-list">
                                            {% if ticket.checked_in %}
                                                <li><a href="{% url "cancel_check_in" ticket.id %}?next={% url "manage_check_ins" event.id %}" class="btn">Cancel Check In</a></li>
                                            {% else %}
                                                <li><a href="{% url "check_in" ticket.id %}?next={% url "manage_check_ins" event.id %}" class="btn">Check In</a></li>
                                            {% endif %}
                                        </ul>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="l-secondary-content block-list">
            {% include "staff/_tickets_filter_block.html" %}
        </div>
    </div>
{% endblock %}