{% load xextends %}

{% xextends "staff/base.html" with secondary_nav="staff_members" %}
{% load staticfiles %}

{% block staff_content %}
    <div class="l-container">
        <div class="l-primary-content block-list">
            <div class="block block-list__item">
                <header class="block__header">
                    <h2 class="block__header-text">Members</h2>
                </header>
                <table class="data-table" id="members-list">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Staff</th>
                            <th>Active</th>
                            <th>Paid</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in members %}
                            <tr>
                                <td><a href="{% url "view_profile" member.pk %}">{{member.profile}}</a></td>
                                <td>{{member.email}}</td>
                                <td class="is_staff">
                                    {% if member.is_staff %}
                                        {% if member == request.user %}
                                            True
                                        {% else %}
                                            <a class="confirm" data-confirm="Are you sure you wish to make this member non-staff?" href="{% url "make_not_staff" member.pk %}">True</a>
                                        {% endif %}
                                    {% else %}
                                        <a class="confirm" data-confirm="Are you sure you wish to make this member staff?" href="{% url "make_staff" member.pk %}">False</a>
                                    {% endif %}
                                </td>
                                <td>{{member.is_active}}</td>
                                <td>
                                    {% if member.profile.active_paid_membership == None %}
                                        False
                                    {% else %}
                                        True
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url "edit_profile" member.pk %}">Edit Profile</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="l-secondary-content block-list">
            {% include "members/_filter_block.html" %}
        </div>
    </div>
{% endblock %}