{% extends "staff/base.html" %}
{% load staticfiles %}
{% load foundation %}
{% load widget_tweaks %}
{% load markdown_deux_tags %}

{% block staff_content %}
    <div class="container">
        <div class="row">
            <div class="small-12 column">
                <h2>Email all members</h2>
                    
                <form method="POST" action="{% url "staff_send_email" %}">
                    {% csrf_token %}
                    <label>Subject (Optional)<br />{{form.subject}}</label>
                    <label>Content<br />{% markdown_allowed %} {{form.content|add_class:"edit_markdown"}}</label>
                    <button type="submit">Send</button>
                    <a class="button warning" href="{% url "staff" %}">Cancel</a>
                </form>
            </div>
        </p>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/coffeescript" src="{% static "coffeescript/edit_markdown.coffee" %}"></script>
{% endblock %}