@import "foundation_settings";
@import "../../bower_components/foundation/scss/foundation";

$fi-path: "../../foundation-icon-fonts/";

@import "../bower_components/foundation-icon-fonts/foundation-icons";
@import "config.scss";
@import "../../datetimepicker/jquery.datetimepicker.css";

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    color: rgb(24,24,24);
}

.top-container, .full-navbar {
    background: $MAIN_COLOUR;

    border-bottom: 3px solid darken($MAIN_COLOUR, 0%);
}

.top-container {
    height: 0.5em;
}

#logo-container {
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-size: 2.4em;
    font-weight: bold;
    margin-bottom: 1em;
    border-bottom: 2px solid rgb(24,24,24);
    padding-bottom: 3px;
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 1.6em;
}


p {
    font-size: 1.6em;
    line-height: 1.6em;
    margin: auto;
    margin-bottom: 1.5em;
    color: rgb(88,88,88);
}

#bottom {
    background: $MAIN_COLOUR;
}

#contacts {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;

    border-top: 3px solid darken($MAIN_COLOUR, 0%);

    img {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
        filter: gray; /* IE6-9 */
        -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */

        &:hover {
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
            -webkit-filter: grayscale(0%);
        }
    }
}

blockquote {
    background: lighten($MAIN_COLOUR, 30%);
    border: 2px solid lighten($MAIN_COLOUR, 10%);
    padding: 10px;
    font-size: 0.6em;
    margin-bottom: 3em;

    p {
        margin-bottom: 0.3em;
    }
}

.top-container {
    background: $MAIN_COLOUR;

    border-bottom: 3px solid darken($MAIN_COLOUR, 0%);
    height: 0.5em;
}

a {
    text-decoration: none;
    color: $MAIN_COLOUR;
}

#mc_embed_signup {
    text-align: center;
    .mc-field-group {
        margin-top: 10px;
    }
    strong {
        font-weight: bold;
    }
}

.full-width {
    width: 100%;
}

.ticket-purchase, .language-vote {
    table {
        width: 100%;
        border: none;
    }

    .submit-button {
        text-align: right;
    }

    border: 1px solid #F5F5F5;
    padding: 20px;
    padding-bottom: 0px;

    .winning {
        font-weight: bold;
    }
}


.ticket {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;

    .stack {
        margin-top: 15px;
    }

    &.cancelled {
        opacity: 0.2;
    }
}

.members-list {
    list-style: none;

    li {
        display: inline-block;

        img {
            width: 50px;
        }
    }
}


.socialaccount_providers {
    list-style: none;

    li {
        display: inline-block;

        a {
            @extend .button;

            &.github {
                @extend .fi-social-github;
            }

            &.facebook {
                @extend .fi-social-facebook;
            }

            &.twitter {
                @extend .fi-social-twitter;
            }

            &.linkedin {
                @extend .fi-social-linkedin;
            }

            &.google {
                @extend .fi-social-google-plus;
            }

            color: #FFF;
            text-align: center;

            &::before {
                padding-right: 5px;
            }
        }
    }
}

.language-list {

    &.preferences {
        min-height: 100px;
    }

    &.other-languages {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
    width: 100%;

    li {
        cursor: pointer;
        font-weight: normal;
    }
}

p {
    &.small {
        font-size: 0.7em;
    }
}

#messages {
    margin-top: 1em;
}

.member_image {
    position: relative;
    display: inline-block;

    .paid {
        position: absolute;
        bottom: -0.4em;
        right: 0px;
        color: #FFF;
        font-size: 1em;
    }
}

.paid_member_status {
    @extend .panel;
    @extend .callout;
    width: 10em;
    text-align: center;
    margin-top: 1em;

}

.payment_info {
    p {
        font-size: 0.8em;
    }
}

#id_honeypot {
    display: none;
}

.comment {
    font-size: 0.8em;
    padding-top: 10px;

    .member_image {
        text-align: center;
        img {
            max-width: 50px;
            margin: auto;
        }
    }
    .author {
        font-weight: bold;
        text-align: center;
        display: block;
    }

    .info {
        text-align: center
    }
}

.comment-form {
    form {
        display: none;
    }
}

#notifications {
    &.unread {
        a {
            background: darken($MAIN_COLOUR, 30%)
        }
    }

    .dropdown {
        display: none;
        width: 300px;

        li {
            p {
                font-size: 0.7em;
            }

            &.unread {
                background: lighten($MAIN_COLOUR, 10%)
            }

            &:hover {
                background: darken($MAIN_COLOUR, 10%)
            }

            .time {
                font-size: 0.7em;
                text-align: right;
            }

            cursor: pointer;
        }
    }

    a:after {
        display: none !important;
    }
}

#notifications_settings {
    width: 100%;
}


// Sponsors
#community_sponsors {
    margin: 10px;
    text-align: center
}

.community_sponsor {
    display: inline-block;

    img {
        max-width: 100px;
    }
}


// Member lists
.members {
    width: 100%;
    
    img {
        max-width: 50px;
    }
}

.tickets {
    .cancelled {
        opacity: 0.7;
    }
}