/**
 * Basic 
 */
$BACKGROUND-COLOR: #EEF7FE;
$HEADER-COLOR: #1976D2;
$SECONDARY-COLOR: #BBDEFB;
$BLOCK-COLOR: #DEEFFC;
$FONT-COLOR: #3C6080;

/**
 * Menu
 */
$MENU-COLOR: #fff;
$MENU-HIGHLIGHT-BACKGROUND-COLOR: #2196F3;
$MENU-HIGHLIGHT-COLOR: #3C6080;

/**
 * Notifications
 */
$UNREAD-NOTIFICATION-BACKGROUND-COLOR: #F52424;
$UNREAD-NOTIFICATION-COLOR: #FFF;

/**
 * Forms
 */
$RADIO-BACKGROUND-COLOR: #7FA9D2;
$RADIO-COLOR: #DEEFFC;

/**
 * Messages
 */
$MESSAGE-BACKGROUND-COLOR: #DEEFFC;
$ERROR-MESSAGE-BACKGROUND-COLOR: #F52424;
$SUCCESS-MESSAGE-BACKGROUND-COLOR: #149A3E;