$HEADER-COLOR: #1976D2;
$SECONDARY-COLOR: #BBDEFB;
$BLOCK-COLOR: #DEEFFC;

$BACKGROUND-COLOR: #EEF7FE;


$FONT-COLOR: #3C6080;

$RADIO-BACKGROUND-COLOR: #7FA9D2;
$RADIO-COLOR: $BLOCK-COLOR;

$MENU-COLOR: #fff;
$MENU-HIGHLIGHT-BACKGROUND-COLOR: #2196F3;