{% extends "base.html" %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="small-12 column">
                <h2>{{sponsor}}</h2>

                <blockquote>
                    <div style="text-align: center; margin-bottom: 2em;">
                        <a href="{{sponsor.url}}"><img style="max-width: 100%;" src="{{sponsor.logo.url}}"></a>
                    </div>
                    {{sponsor.description|markdown}}
                </blockquote>

                {% if sponsor.event_set.count > 0 %}
                    <h3>Sponsored Events</h3>
                    <ul>
                        {% for event in sponsor.event_set.all %}
                            <li><a href="{% url "view_event" event.pk %}">{{event.year_heading}}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </p>
    </div>
{% endblock %}