{% load xextends %}

{% load forms %}
{% xextends "admin/base.html" with secondary_nav="appearance" %}

{% block admin_content %}
    <div class="appearance">
        <style id="customCSS" type="text/css"></style>
        <div class="l-container">
            <div class="block-list__item block">
                <header class="block__header">
                    <h2 class="block__header-text block__header-text">Appearance</h2>
                </header>
                <p>Use this form to change the appearance of your Happening community.</p>

                <p>Adjust the settings on the left, and preview the changes in realtime on the right. Once you're finished, click "Save" to commit the changes.</p>
            </div>
            <div class="l-primary-content block-list">
                <form method="POST" action="{% url "appearance" %}" class="form">
                    {% csrf_token %}
                    {{theme_form|render_as_blocks}}
                    
                    <div class="block block-list__item stick-bottom">
                        <div class="float-right">
                            <button type="submit">Save</button>
                        </div>
                        <div class="clear"></div>
                    </div>
                </form>
            </div>
            <div class="l-secondary-content block-list">
                {% for category, c in categories.items %}
                    <div class="block block-list__item match-height" data-match="#block_{{category}}">
                        <header class="block__header">
                            <h2 class="block__header-text block__header-text--small">{{category}}</h2>
                        </header>
                        {{c.preview|safe}}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}