{% load xextends %}

{% xextends "admin/base.html" with secondary_nav="backup" %}

{% block admin_content %}
    <div class="l-container">
        <div class="l-primary-content block-list">
            <div class="block block-list__item">
                <header class="block__header">
                    <h2 class="block__header-text">Backups</h2>
                </header>
                {% if backups.count > 0 %}
                    <table>
                        {% for backup in backups %}
                            <tr>
                                <th>#{{backup.pk}}</th>
                                <td>
                                    {% if backup.complete %}
                                        {{backup.complete_time}}
                                    {% else %}
                                        {% if backup.started %}
                                            Started
                                        {% else %}
                                            Pending
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if backup.complete %}
                                        <a href="{{backup.zip_file.url}}" class="btn">Download</a>
                                        <form method="POST" action="{% url "delete_backup" backup.pk %}">
                                                {% csrf_token %}
                                                <button type="submit">Delete</button>
                                            </form>
                                    {% else %}
                                        {% if not backup.started %}
                                            <form method="POST" action="{% url "cancel_backup" backup.pk %}">
                                                {% csrf_token %}
                                                <button type="submit">Cancel</button>
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>You don't have any backups currently.</p>
                {% endif %}
                {% if not backup_scheduled %}
                    <form method="POST" action="{% url "schedule_backup" %}">
                        {% csrf_token %}
                        <button type="submit">Backup</button>
                    </form>
                {% endif %}
            </div>

            <div class="block block-list__item">
                <header class="block__header">
                    <h2 class="block__header-text">Restore</h2>
                </header>
                {% if restore_scheduled %}
                    We are currently restoring from your backup. This should be completed within 20 minutes.
                {% else %}
                    <p>Restoring a backup will remove all data from the database. This is not reversable. To continue, upload the .zip generated from a Happening backup.</p>
                    <form method="POST" action="{% url "restore_backup" %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="zip_file">
                        <button type="submit">Restore</button>
                    </form>
                {% endif %}
            </div>
        </div>

        <div class="l-secondary-content block-list">
            <div class="block block-list__item">
                <header class="block__header">
                    <h2 class="block__header-text block__header-text--small">Backup</h2>
                </header>
            </div>
        </div>
    </div>
{% endblock %}