{% extends "admin/base.html" %}
{% load forms %}

{% block admin_content %}
    <div class="l-container">
        <div class="l-primary-content block-list">
            <div class="block block-list__item">
                <header class="block__header valign-together">
                    <h2 class="block__header-text">New Event</h2>
                </header>

                    
                <form method="POST" action="{% url "create_event" %}">
                    {% csrf_token %}
                    {{form|render}}
                    <button type="submit">Save</button>
                    <a class="button warning" href="{% url "staff_events" %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}