{% extends "admin/base.html" %}
{% load forms %}

{% block admin_content %}
    <div class="l-container">
        <div class="l-primary-content block-list">
            <div class="block block-list__item">
                <header class="block__header">
                    <h2 class="block__header-text">Edit {{event}}</h2>
                </header>
                <form method="POST" action="{% url "edit_event" event.pk %}" enctype="multipart/form-data" class="form">
                    {% csrf_token %}
                    {{form|render}}
                    <button type="submit">Save</button>
                    <a class="button warning" href="{% url "staff_events" %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}