{% load xextends %}

{% xextends "admin/base.html" with secondary_nav="staff_events" %}
{% load forms %}

{% block admin_content %}
    <div class="l-container">
        <div class="l-primary-content block-list">
            <div class="block block-list__item">
                <header class="block__header valign-together">
                    <h2 class="block__header-text">Edit {{preset}}</h2>
                </header>

                <form method="POST" action="{% url "edit_event_preset" preset.pk %}" class="form">
                    {% csrf_token %}
                    <div class="form__field">
                        <label for="preset_name">Preset Name</label>
                        <input type="text" name="preset_name" value="{{preset.name}}">
                    </div>
                    {{form|render}}
                    <button type="submit">Save</button>
                    <a class="button warning" href="{% url "event_presets" %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}