{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load forms %}
{% load auth %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div class="l-container">
        <div class="l-primary-content block-list">
            <div class="block block-list__item">
                <header class="block__header">
                    <h2 class="block__header-text">{% trans "Sign In" %}</h2>
                </header>

                <p>{% blocktrans %}If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

                <form class="login form" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form|render }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <a class="secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
                </form>
            </div>
        </div>
        <div class="l-secondary-content block-list">
            {% if ""|providers_enabled %}
                <div class="block block-list__item">
                    <header class="block__header">
                        <h2 class="block__header-text block__header-text--small">{% trans "Third Party Accounts" %}</h2>
                    </header>
                    <p>Sign in with a third party account.</p>
                    <div class="socialaccount_ballot">
                        <ul class="socialaccount_providers">
                            {% include "account/socialaccount_provider_list.html" with process="login" %}
                        </ul>
                    </div>

                    {% include "socialaccount/snippets/login_extra.html" %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}