{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="small-12 column">
                <h2>Payment</h2>

                <form method="POST" id="payment-form" action="{% url "make_payment" payment.pk %}" style="display: none">
                    {% csrf_token %}
                    {{payment_form}}
                </form>

                <form method="POST" id="stripe-form">
                    <span class="payment-errors"></span>


                    <label>Card Number:
                         <input type="text" size="20" data-stripe="number"/>
                    </label>
                    <label>CVC:
                        <input type="text" size="4" data-stripe="cvc"/>
                    </label>
                    <label>Expiration (MM/YYYY)
                        <div class="row">
                            <div class="small-5 columns">
                                <input type="text" size="2" data-stripe="exp-month" placeholder="MM" />
                            </div>
                            <div class="small-7 columns">
                                <input type="text" size="4" data-stripe="exp-year" placeholder="YYYY" />
                            </div>
                        </div>
                    </label>
                    <button type="submit">Submit Payment</button>
                </form>
            </div>
        </p>
    </div>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script>Stripe.setPublishableKey("{{stripe_key}}");</script>
{% endblock %}
{% block scripts %}
    <script type="text/coffeescript" src="{% static "coffeescript/members/payment.coffee" %}"></script>
{% endblock %}