{% load json %}
<div class="widget widget--embed address-widget" data-name="{{name}}">
    <div class="form__field">
        <label for="{{name}}_address_input">Address</label>
        <span class="tooltip" title="A tick indicates that the address is recognised and can be searched for by location."><i class="fa fa-question-circle form__field__info"></i></span>

        <div class="overlay">
            <input type="text" name="{{name}}_address" class="address-input" value="">
            <div style="right: 10px; top: 8px; display: none;" class="address-tick">
                <i class="fa fa-check"></i>
            </div>
        </div>
    </div>
    <div class="form__field">
        <label for="{{name}}_extra_information">Extra Information</label>
        <span class="tooltip" title="This will appear below the address. Use this for specific room information, door codes, etc."><i class="fa fa-question-circle form__field__info"></i></span>

        <textarea name="{{name}}_extra_information" class="address-extra"></textarea>
    </div>
    <input type="hidden" name="{{name}}" class="address-field" value="{{value|jsonify}}">
</div>