{% load xextends %}

{% load layout %}
{% xextends "admin/base.html" with secondary_nav="appearance" %}

{% block admin_content %}
    <div class="l-container">
        <div class="l-primary-content block-list">
            {% block appearance_content %}
            {% endblock %}
        </div>
        <div class="l-secondary-content block-list">
            <div class="block block-list__item navigation-block match-height" data-match="#block_main">
                <ul class="navigation-block__list">
                    {% tertiary_navigation_item link="appearance" text="Appearance" %}
                    {% tertiary_navigation_item link="menus" text="Menus" %}
                    {% tertiary_navigation_item link="pages" text="Pages" %}
                </ul>
            </div>
            {% block secondary_content %}

            {% endblock %}
        </div>
    </div>
{% endblock %}