<div class="widget widget--embed address-widget" data-name="{{name}}">
    <div class="form__field">
        <label for="{{name}}_line_1">Line 1</label>
        <input type="text" name="{{name}}_line_1" value="{{value.line_1}}">
    </div>
    <div class="form__field">
        <label for="{{name}}_line_2">Line 2</label>
        <input type="text" name="{{name}}_line_2" value="{{value.line_2}}">
    </div>
    <div class="form__field">
        <label for="{{name}}_line_3">Line 3</label>
        <input type="text" name="{{name}}_line_3" value="{{value.line_3}}">
    </div>
    <div class="form__field">
        <label for="{{name}}_city">City</label>
        <input type="text" name="{{name}}_city" value="{{value.city}}">
    </div>
    <div class="form__field">
        <label for="{{name}}_state">State</label>
        <input type="text" name="{{name}}_state" value="{{value.state}}">
    </div>
    <div class="form__field">
        <label for="{{name}}_country">Country</label>
        <input type="text" name="{{name}}_country" value="{{value.country}}">
    </div>
    <div class="form__field">
        <label for="{{name}}_postcode">Postcode</label>
        <input type="text" name="{{name}}_postcode" value="{{value.postcode}}">
    </div>
    <div class="form__field">
        <label for="{{name}}_longitude">Longitude</label>
        <input type="text" name="{{name}}_longitude" value="{{value.longitude}}">
    </div>
    <div class="form__field">
        <label for="{{name}}_latitude">Latitude</label>
        <input type="text" name="{{name}}_latitude" value="{{value.latitude}}">
    </div>
</div>