<div class="duration-widget widget">
    <input type="hidden" name="{{name}}" value="{{value}}" data-bind="value: value" />

    <table class="full-width">
        <tr>
            <td><input type="number" data-bind="value: days"></td>
            <td>days</td>
            <td><input type="number" data-bind="value: hours"></td>
            <td>hours</td>
            <td><input type="number" data-bind="value: minutes"></td>
            <td>minutes</td>
            <td><input type="number" data-bind="value: seconds"></td>
            <td>seconds</td>
        </tr>
    </table>
</div>