{% load strings %}
<div class="emails-widget widget">
    <input type="hidden" name="{{name}}" data-bind="value: value" value='{{value|search:"'"|replace:"&#x27;"|safe}}'>
    <table class="full-width">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Start Sending</th>
                <th>Stop Sending</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: emails">
            <tr>
                <td data-bind="text: subject"></td>
                <td data-bind="text: formatted_start_sending"></td>
                <td data-bind="text: formatted_stop_sending"></td>
                <td>
                    <a href="#" data-bind="click: viewPreview">view</a>
                    <a href="#" data-bind="click: editEmail">edit</a>
                    <a href="#" data-bind="click: deleteEmail">delete</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <a href="#" data-bind="click: addEmail">Add Email</a>
                </td>
            </tr>
        </tfoot>
    </table>
    <div id="view-email-preview" data-bind="css: {hidden: mode() != 'PREVIEW'}">
        <p>Preview</p>
        <select class="preview-event" data-bind="value: previewEvent, event: {change: refreshPreview}">
            {% for event in events %}
                <option value="{{event.pk}}">{{event.title}} ({{event.start}})</option>
            {% endfor %}
        </select>
        <div class="preview-subject" data-bind="text: previewSubject"></div>
        <div class="preview-content" data-bind="html: previewContent"></div>
    </div>
    <div id="add-email" data-bind="css: {hidden: mode() != 'EDITING' && mode() != 'ADDING'}">
        <!-- ko if: mode() == "ADDING" -->
            <h3>Add Email</h3>
        <!-- /ko -->
        <!-- ko if: mode() == "EDITING" -->
            <h3>Edit Email</h3>
        <!-- /ko -->
        <div class="form__field">
            <label>To</label>
            <input id="add-email-to" type="text" class="to" placeholder="{% verbatim %}tickets__has:(event__id:{{event.id}} cancelled:False){% endverbatim %}">
        </div>
        <div class="form__field">
            <label>Subject</label>
            <input id="add-email-subject" type="text" class="subject" placeholder="{% verbatim %}{{event.title}}{% endverbatim %}">
        </div>
        <div class="form__field">
            <label>Content</label>
            <textarea id="add-email-content" class="content"></textarea>
        </div>
        
        <div class="form__field">
            <label>Start Sending</label>
            <div>
                <input id="add-email-start-sending-number" type="text" />
                <select id="add-email-start-sending-type">
                    <option>weeks</option>
                    <option selected>days</option>
                    <option>hours</option>
                </select>
                <select id="add-email-start-sending-start">
                    <option selected>before event</option>
                    <option>after event</option>
                    <option>after event creation</option>
                </select>
            </div>
        </div>

        <div class="form__field">
            <label>Stop Sending</label>
            <div>
                <input id="add-email-stop-sending-number" type="text" />
                <select id="add-email-stop-sending-type">
                    <option>weeks</option>
                    <option selected>days</option>
                    <option>hours</option>
                </select>
                <select id="add-email-stop-sending-start">
                    <option selected>before event</option>
                    <option>after event</option>
                    <option>after event creation</option>
                </select>
            </div>
        </div>

        <button data-bind="click: confirmAdding">Save</button>
        <button class="warning" data-bind="click: cancelAdding">Cancel</button>
    </div>
</div>