{% load staticfiles %}
<div class="sticky">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <a href="/"><img id="logo" src="{% static "img/dojo-logo-small.png" %}"></a>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                {% if request.user.is_authenticated %}
                    <li class="has-dropdown" id="notifications" {% if user.notifications.unread.count > 0 %}class="unread"{% endif %}>
                        <a href="#"><i class="fi-alert"></i> {% if user.notifications.unread.count > 0 %}{{user.notifications.unread.count}}{% endif %}</a>
                        <div class="dropdown" id="notification-dropdown-content">
                            
                        </div>
                    </li>

                {% endif %}
                {% if request.user.is_staff %}
                    <li><a href="{% url "staff" %}">Admin</a></li>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li class="has-dropdown">
                        <a href="#">{{request.user}}</a>
                        <ul class="dropdown">
                            <li><a href="{% url "membership" request.user.pk %}">Membership</a></li>
                            <li><a href="{% url "settings" request.user.pk %}">Settings</a></li>
                            <li><a href="{% url "view_profile" request.user.pk %}">My Profile</a></li>
                            <li><a href="{% url "my_tickets" %}">My Tickets</a></li>
                            <li><a href="{% url "account_logout" %}">Sign Out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url "account_login" %}">Sign In</a></li>
                {% endif %}
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
                <li><a href="/">Home</a></li>
                <li class="has-dropdown">
                    <a href="#">About</a>
                    <ul class="dropdown">
                        <li><a href="{% url "about" %}">About</a></li>
                        <!-- <li><a href="#">Getting here</a></li> -->
                        <!-- <li><a href="#">Finances</a></li> -->
                        <li><a href="{% url "sponsorship" %}">Sponsorship</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="#">Previous Dojos</a>
                    <ul class="dropdown" id="previous-dojos">
                        {% for event in previous_events %}
                            <li class="dojo"><a href="{% url "view_event" event.pk %}">{{event.year_heading}}</a></li>
                        {% endfor %}
                        <li><a href="{% url "previous_events" %}">View All</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>
</div>