{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="small-12 column">
                <h2>About</h2>

                <h3>Who are we?</h3>

                <p>The Southampton Code Dojo is a monthly meetup of technical people from around the Southampton area.</p>

                <p>We meet on the second Thursday of each month, decide on a small challenge to work on, split up into groups and solve the problem separately, then come together and talk about the different ways we solved it.</p>

                <p>It's a good way of improving our coding abilities by learning from each other, it's a lot of fun, and programmers of any ability are welcome.</p>

                <h3>Who are you?</h3>
                <p>We welcome anyone with an interest in coding. We have members ranging from the very experienced to no experience at all, in languages from D to Javascript.</p>

                <p>We decide on the programming language to use on the day of the dojo, and will tend to choose languages most familiar to those attending. Whatever your experience level please feel free to come along.</p>
            </div>
        </div>
    </div>
{% endblock %}