{% load staticfiles %}
{% load happening_ganalytics %}
{% load plugins %}

<!DOCTYPE html>
<html>
<head>
    <title>{{"pages.configuration.SiteTitle"|get_configuration}}</title>

    <script src="{% static "bundles/main.js" %}"></script>

    {{ happening_site|theme_settings }}
    
    <!-- Web Fonts -->
    <link href='//fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
    <!-- End Web Fonts -->

    {% if happening_site.logo %}
        <link rel="shortcut icon" type="image/x-icon" href="{{happening_site.logo.url}}" />
    {% endif %}

    {% if debug %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "sass/dev.scss" %}" />
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/generated.css" />
    {% endif %}

        {% block style %}

        {% endblock style %}

        <link rel="stylesheet" type="text/x-scss" href="{% static "sass/icons.scss" %}" />
        <link rel="stylesheet" type="text/x-scss" href="{% static "sass/lib/jquery.dataTables.static.scss" %}" />

        <!-- used for date-widget, time-widget, and datetime-widget -->
        <link rel="stylesheet" type="text/css" href="{% static "jquery-datetimepicker/jquery.datetimepicker.css" %}" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% ganalytics %}
</head>
<body>
    <header class="main-header">
        <div class="l-container">
            <h2 class="main-header__heading main-header__padded">
                <a href="{% url "index" %}" class="plain-link valign-together">
                    {% if happening_site.logo %}
                        <img class="main-header__logo" src="{{happening_site.logo.url}}" alt="{{"pages.configuration.SiteTitle"|get_configuration}}">
                    {% endif %}
                    <span>
                        {{"pages.configuration.SiteTitle"|get_configuration}}
                    </span>
                </a>
            </h1>

            <div class="main-header__menu menu">
                <ul class="menu__list inline-list">
                    {% with v="pages.configuration.NameOfEvents"|get_configuration %}
                        {% with vv=v|title|add:"s" %}
                            {% include "_primary_navigation_item.html" with link="events" text=vv icon="calendar" %}
                        {% endwith %}
                    {% endwith %}
                    {% include "_primary_navigation_item.html" with link="members" text="Members" icon="user" %}
                    {% if request.user.is_authenticated %}
                        <li class="menu__item menu__item--with-icon main-header__padded notification-button {% if primary_nav == "notifications_list" %}menu__item--active{% endif %}">
                            <a href="{% url "notifications_list" %}" class="menu__item__icon plain-link notifications-list-link" data-jq-dropdown="#notifications-list"><i class="fa fa-bell"></i></a>
                            <a href="{% url "notifications_list" %}" data-jq-dropdown="#notifications-list" class="menu__item__text plain-link notifications-list-link">Notifications</a>
                            <a href="{% url "notifications_list" %}" data-jq-dropdown="#notifications-list" class="notification-button__unread{% if request.user.notifications.unread.count > 0 %} notification-button__unread--unread{% endif %} notifications-list-link">{{request.user.notifications.unread.count}}</a>
                        </li>

                        <div id="notifications-list" class="jq-dropdown">
                            <ul class="jq-dropdown-menu">
                                {% include "notifications/_short.html" %}
                                <li><a class="notifications-list__more" href="{% url "notifications_list" %}">View more</a></li>
                            </ul>
                        </div>


                    {% endif %}
                    {% if request.user.is_staff %}
                        {% if request.user.is_superuser %}
                            {% include "_primary_navigation_item.html" with link="admin" text="Admin" icon="cogs" %}
                        {% endif %}
                        {% include "_primary_navigation_item.html" with link="staff" text="Staff" icon="cogs" %}
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <li class="menu__item menu__item--with-icon main-header__padded">
                            <a href="{% url "account_logout" %}" class="menu__item__icon plain-link"><i class="fa fa-sign-out"></i></a>
                            <a href="{% url "account_logout" %}" class="menu__item__text plain-link">Log Out</a>
                        </li>
                    {% else %}
                        {% include "_primary_navigation_item.html" with link="account_login" text="Log In" icon="sign-in" %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>
    <nav class="secondary-navigation">
        <div class="l-container">
            {% block secondary_navigation %}
                <ul class="inline-list inline-list--space">
                    {% include "_secondary_navigation_item.html" with link="index" text="Home" %}

                    {% plugin_block "happening.secondary_navigation" secondary_nav %}

                    {% for page in pages %}
                        <li><a class="secondary-navigation__link {% if secondary_nav == page.url %}secondary-navigation__link--active{% endif %}" href="{% url "view_page" page.url %}">{{page.title}}</a></li>
                    {% endfor %}
                </ul>
            {% endblock %}
        </div>
    </nav>

    {% if messages %}
        <div class="l-container">
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="message-box message-box--error">
                {% else %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                        <div class="message-box message-box--info">
                    {% else %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="message-box message-box--success">
                        {% else %}
                            <div class="message-box">
                        {% endif %}
                    {% endif %}
                {% endif %}

                    <p>{{message}}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% plugin_block "happening.messages" %}
    
    {% block content %}
    {% endblock %}

    <!-- Needed for Django Debug Toolbar, used in a number of other scripts
    <script src="{% static "jquery/dist/jquery.js" %}"></script> -->


    {% block script %}

    {% endblock %}
</body>
</html>