{% load xextends %}

{% xextends "base.html" with secondary_nav="index" %}
{% load markdown_deux_tags %}
{% load plugins %}

{% block content %}
    <div class="l-container">
        <div class="l-primary-content block-list">
            {% for event in future_events.all|slice:":2" %}
                <div class="block block-list__item event-block">
                    {% include "events/_event_block.html" %}
                </div>
            {% endfor %}

            {% if future_events.count > 0 %}
                <a href="#" class="block-list__link block-list__item">View all upcoming events</a>
            {% endif %}

            {% for event in past_events.all|slice:":1" %}
                <div class="block block-list__item event-block low-opacity full-opacity-on-hover">
                    {% include "events/_event_block.html" %}
                </div>
            {% endfor %}

            {% if past_events.count > 0 %}
                <a href="#" class="block-list__link block-list__item">View all events</a>
            {% endif %}
        </div>

        <div class="l-secondary-content block_list">
            <div class="block block-list__item">
                <header class="block__header valign-together">
                    {% if request.user.is_authenticated %}
                        <h2 class="block__header-text block__header-text--small">Welcome back, <strong>{{request.user}}</strong></h2>
                        <a href="{% url "account_logout" %}" class="block__header-extra-link">(not you? Log out)</a>
                    {% else %}
                        <h2 class="block__header-text block__header-text--small">Welcome, <strong>Guest</strong></h2>
                    {% endif %}
                </header>
                {% if request.user.is_authenticated %}
                    <div class="l-container">
                        <div class="l-primary-content">
                            <ul class="plain-list">
                                <!-- <li>
                                    <div class="icon-text">
                                        <i class="fa fa-envelope icon-text__icon"></i>
                                        <span class="icon-text__text"><strong>0</strong> new <a href="#">private messages</a></span>
                                    </div>
                                </li> -->
                                <li>
                                    <div class="icon-text">
                                        <i class="fa fa-bell icon-text__icon"></i>
                                        <span class="icon-text__text"><strong>{{user.notifications.unread.count}}</strong> unread <a href="{% url "notifications_list" %}">notification{{user.notifications.unread.count|pluralize}}</a></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon-text">
                                        <i class="fa fa-calendar icon-text__icon"></i>
                                        <span class="icon-text__text"><strong>{{future_events.count}}</strong> <a href="{% url "events" %}">upcoming events</a></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="l-secondary-content">
                            <img src="{{request.user.profile.photo_url}}">
                        </div>
                    </div>
                {% else %}
                    <ul class="inline-list">
                        <li><a class="btn" href="{% url "account_login" %}">Log In</a></li>
                        <li>or</li>
                        <li><a class="btn" href="{% url "account_signup" %}">Sign Up</a></li>
                    </ul>
                {% endif %}

            </div>

            <!-- <div class="block block-list__item">
                <header class="block__header">
                    <h2 class="block__header-text block__header-text--small">What's New</h2>
                </header>
                <ul class="plain-list">
                    <li class="activity">
                        <div class="l-container">
                            <div class="l-primary-content">
                                <span class="activity__type">Event Sold Out</span>
                                <a href="#" class="activity__name">Board Games Night</a>
                                <div class="activity__info valign-together">
                                    <span>6 hours ago</span><span>40 tickets sold</span>
                                </div>
                            </div>
                            <div class="l-secondary-content">
                                LO
                            </div>
                    </li>
                </ul>
            </div> -->

            {% plugin_block "index.secondary_content" %}
        </div>
    </div>
{% endblock %}