{% extends "base.html" %}

{% load staticfiles %}
{% load loops %}
{% load markdown_deux_tags %}

{% block navbar %}
    <div class="top-container">
    </div>
    <div id="logo-container">
        <div class="container">
            <div class="row">
                <div class="small-12 column">
                    <a href="/"><img id="logo" src="{% static "img/dojo-logo.png" %}"></a>
                </div>
            </div>
        </div>
    </div>
        {% include "_navbar.html" %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="small-12 column">
                {% if latest_event %}
                    <h2 id="next">{{latest_event}}</h2>
                    {% if latest_event.is_future %}
                        <div id="next-event">
                            <p>Our next dojo will be on {{latest_event.datetime}} Get your tickets now.</p>
                            <div class="ticket-purchase" id="ticket-purchase">
                                <form action="{% url "purchase_tickets" latest_event.pk %}" method="POST">
                                    {% csrf_token %}
                                    <table class="responsive">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Remaining</th>
                                                <th>End</th>
                                                <th></th>
                                                <th>Quantity</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Ticket</td>
                                                <td class="remaining-tickets">
                                                    {% if latest_event.remaining_tickets < 1 %}
                                                        Sold Out
                                                    {% else %}
                                                        {{latest_event.remaining_tickets}} Ticket{{latest_event.remaining_tickets|pluralize:",s"}}
                                                    {% endif %}
                                                </td>
                                                <td class="end-date">{{latest_event.datetime.date}}</td>
                                                <td>Free</td>
                                                <td>
                                                    {% if latest_event.remaining_tickets > 0 %}
                                                        <select name="quantity">
                                                            {% for n in latest_event.remaining_tickets|times1 %}
                                                                <option value="{{n}}">{{n}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    {% if latest_event.remaining_tickets > 0 %}
                                        <div class="register-button">
                                            <button type="submit">Register</button>
                                        </div>
                                    {% endif %}
                                </form>
                                {% if latest_event.attending_users|length > 0 %}
                                    <p><strong class="members-attending-count">{{latest_event.attending_users|length}}</strong> member{{latest_event.attending_users|length|pluralize:",s"}} attending.</p>
                                    <ul class="members-list">
                                        {% for user in latest_event.attending_users %}
                                            <li><a title="{{user.profile}}" href="{% url "view_profile" user.pk %}"><img src="{{user.profile.photo_url}}"></a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <p id="recent-event">Our most recent dojo was the <a href="{% url "view_event" latest_event.pk %}">{{latest_event}}</a> on {{latest_event.datetime.date}}.</p>
                    {% endif %}
                {% else %}
                    <div id="no-events">
                        <p>Check back for information on our events.</p>
                    </div>
                {% endif %}

                <p>We hold the dojos at the University of Southampton Highfield Campus, Building 32. You can <a href="http://www.southampton.ac.uk/visitus/campuses/maps/highfield_3d_key.pdf">see a map of the campus here</a> where number 6 is next to the Highfield Interchange bus stop and number 32 is the building we meet in.</p>

                <p>To recieve updates about how to vote for future dojo languages, and to be alerted when tickets are available, join our <a href="http://facebook.com/groups/SouthamptonCodeDojo/">Facebook group</a>, <a href="http://www.meetup.com/Southampton-Code-Dojo/">Meetup group</a>, or <a href="http://twitter.com/sotoncodedojo">follow us on Twitter</a>.

                {% if latest_event.sponsor %}
                    <div id="sponsors">
                        <h2>Sponsors</h2>
                        <p>The {{latest_event}} {% if latest_event.is_future %}is{% else %}was{% endif %} kindly sponsored by <a href="{{latest_event.sponsor.url}}">{{latest_event.sponsor}}</a>.</p>

                        <blockquote>
                            <div style="text-align: center; margin-bottom: 2em;">
                                <a href="{{latest_event.sponsor.url}}"><img style="max-width: 100%;" src="{{latest_event.sponsor.logo.url}}"></a>
                            </div>
                            {{latest_event.sponsor.description|markdown}}
                        </blockquote>
                    </div>
                {% endif %}

                <h2>Interested in Sponsoring a dojo?</h2>
                <p>It costs around &pound;130 to run a dojo. In exchange for that, sponsors gain exposure amongst highly motivated technical people. This helps when hiring and creates connections which allow for easier recruiting of contractors and freelancers. For more details check our <a href="{% url "sponsorship" %}">sponsorship page</a>, or if you're interested in sponsoring a future dojo, <a href="mailto:admin@southamptoncodedojo.com">get in touch</a>.</p>
            </p>
        </div>
    </div>
{% endblock %}