{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="small-12 column">
                <h2>Our Sponsors</h2>
                <p>The dojo exists to create a place for Southampton's technical community to come together. The attendees are different to those who attend typical hack events, as the dojo starts at 7pm and lasts for only two hours, which allows for a much wider range of people to attend.</p>

                <p>We hope that the dojo, as well as being a place for these people to meet, will become a place for them to connect to businesses in need of developers. At any given point very few of the attendees are unemployed but making these connections now means that, when they are, they already know of high quality employers and the employers know what they can do.</p>

                <p>Ideally, we'd like sponsors to commit to three or four dojos per year, which will allow us stability and to ensure that the dojo will continue long term. One-off sponsors are also welcomed but are more difficult to manage.</p>

                <h2>Why do we need sponsorship?</h2>
                <p>Running a dojo costs around &pound;130. This covers pizza and drinks for 25-30 people.</p>

                <p>We have considered charging for tickets to cover this instead, and that's something we'll continue to discuss, but we want to remove as many hurdles as possible for good developers to attend the dojo.</p>

                <h2>What's in it for the sponsors?</h2>
                <p>By sponsoring the dojo, an organisation gains awareness amongst skilled and motivated technical people. Unmotivated students and developers tend not to attend programming events out of hours.</p>

                <p>As a sponsor, we will promote your organisation on our emails, facebook group, meetup group, twitter account, website, and tickets in the lead up to the event(s) that you sponsor. You are welcome to have a member of your staff (or yourself) attend the event and say a few words at the beginning about your organisation, which helps increase awareness and gives an idea of the skills of the attendees.</p>

                <p>If in the future your organisation needs technical staff, either permanent or as a contractor or freelancer, you can contact us and we will relay that to the attendees. This has already paid dividends for our previous sponsors.</p>

                <p>Less directly than that - supporting intiatives such as the dojo helps to foster a better technical community in Southampton which is good for all technical businesses in the area.</p>

                <h2>Get in touch</h2>
                <p>If you or your organisation are interested in sponsoring the dojo, come along to <a href="/#next">our next meetup</a> or <a href="mailto:admin@southamptoncodedojo.com">drop us an email</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}