{% if request.user.is_authenticated %}
    <li class="menu__item menu__item--with-icon main-header__padded notification-button {% if primary_nav == "notifications_list" %}menu__item--active{% endif %}">
        <a href="{% url "notifications_list" %}" class="menu__item__icon plain-link notifications-list-link dropdown--link" data-dropdown="notifications-list"><i class="fa fa-bell"></i></a>
        <a href="{% url "notifications_list" %}" class="menu__item__text plain-link notifications-list-link dropdown--link" data-dropdown="notifications-list">Notifications</a>
        <a href="{% url "notifications_list" %}" class="notification-button__unread{% if request.user.notifications.unread.count > 0 %} notification-button__unread--unread{% endif %} notifications-list-link dropdown--link" data-dropdown="notifications-list">{{request.user.notifications.unread.count}}</a>
    </li>

    <div id="notifications-list" class="dropdown--content">
        <ul class="dropdown--content--menu">
            {% include "notifications/_short.html" %}
            <li><a class="notifications-list__more" href="{% url "notifications_list" %}">View more</a></li>
        </ul>
    </div>
{% endif %}