.notification-button {
    position: relative;
}


.notification-button__unread {
    position: absolute;
    right: 1.5em;
    bottom: 2em;
    border-radius: 12px;
    padding: 0.2em;
    background: var(--UNREAD-NOTIFICATION-BACKGROUND-COLOR);
    color: var(--UNREAD-NOTIFICATION-COLOR);
    text-decoration: none;
    min-width: 1.5em;
    text-align: center;
    display: none;
}

.notification-button__unread--unread {
    display: block;
}