/*doc
---
title: Radio
name: radio
category: Input
---

Format a radio button neatly

```html_example

<label class="radio">
    <input type="radio">
    Radio label
</label>
```
*/
.radio {

}

.radio input {
    margin-right: 0.5em;

    @include appearance(none);


    background: var(--RADIO-BACKGROUND-COLOR);
    width: 1em;
    height: 1em;
    border-radius: 3px;

    &:checked {
        &:after {
            font-family: FontAwesome;
            content: "\f00c";
            color: var(--RADIO-COLOR);
            position: relative;
            top: -3px;
            left: 1px;
            font-size: 0.8em;
        }
    }
}