{% load xextends %}
{% load plugins %}
{% xextends "base.html" with primary_nav="members" %}

{% block secondary_navigation %}
    <ul class="inline-list inline-list--space">
        {% with v="members.configuration.MembersListVisibility"|get_configuration %}
            {% if not request.user.is_authenticated %}
                {% if v == "all" %}
                    {% include "_secondary_navigation_item.html" with link="members" text="Members" %}
                {% endif %}
            {% else %}
                {% if v == "staff" and not request.user.is_staff %}
                {% else %}
                    {% include "_secondary_navigation_item.html" with link="members" text="Members" %}
                {% endif %}
                {% include "_secondary_navigation_item.html" with link="my_profile" text="My Profile" %}
                {% include "_secondary_navigation_item.html" with link="my_settings" text="Settings" %}
            {% endif %}
        {% endwith %}

        {% plugin_block "members.secondary_navigation" secondary_nav %}
    </ul>
{% endblock %}

{% block content %}
    {% block members_content %}

    {% endblock %}
{% endblock %}