{% load xextends %}
{% load plugins %}
{% load layout %}
{% load permissions %}
{% xextends "base.html" with primary_nav="members" %}

{% block secondary_navigation %}
    <ul class="inline-list inline-list--space">
        {% linkpermission "members" %}
            {% secondary_navigation_item link_name="members" text="Members" %}
        {% endlinkpermission %}

        {% if request.user.is_authenticated %}
            {% secondary_navigation_item link_name="my_profile" text="My Profile" %}
            {% secondary_navigation_item link_name="my_settings" text="Settings" %}
        {% endif %}

        {% plugin_block "members.secondary_navigation" secondary_nav %}
    </ul>
{% endblock %}

{% block content %}
    {% block members_content %}

    {% endblock %}
{% endblock %}