{% load xextends %}

{% xextends "members/base.html" with secondary_nav="my_settings" %}

{% load forms %}

{% block content %}
    <div class="l-container">
        <div class="l-primary-content block-list">
            <div class="block block-list__item">
                <header class="block__header valign-together">
                    <h2 class="block__header-text">Edit Username</h2>
                </header>
                <form method="POST" action="{% url "edit_username" member.pk %}" class="form">
                    {% csrf_token %}
                    {{form|render}}
                    <button type="submit">Save</button>
                    <a class="button warning" href="{% url "settings" member.pk %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}