{% load xextends %}

{% xextends "members/base.html" with secondary_nav="members" %}
{% load plugins %}

{% block members_content %}
    <div class="l-container">
        <div class="l-primary-content block-list">
            <div class="block block-list__item">
                <header class="block__header">
                    <h2 class="block__header-text">Members</h2>
                </header>

                {% include "members/_members-table.html" %}
            </div>
        </div>

        <div class="l-secondary-content block-list">
            {% include "members/_filter_block.html" %}
        </div>
    </div>
{% endblock %}