{% load xextends %}

{% xextends "members/base.html" with secondary_nav=secondary_nav %}

{% load plugins %}
{% load markdown_deux_tags %}
{% load forms %}

{% block members_content %}
    <div class="l-container">
        <div class="l-primary-content block-list">
            <div class="block block-list__item">
                <header class="block__header valign-together">
                    <h2 class="block__header-text">{{member}}</h2>
                    {% if member == request.user %} 
                        <a class="block__header-extra-link" href="{% url "edit_profile" member.pk %}"><i class="fa fa-pencil" title="Edit"></i></a>
                    {% endif %}
                </header>

                <p>{{member.profile.bio|markdown}}</p>
            </div>
        </div>
        <div class="l-secondary-content block-list">
            <div class="block block-list__item">
                <header class="block__header">
                    <h2 class="block__header-text block__header-text--small">{{member}}</h2>
                </header>

                <img src="{{member.profile.photo_url}}">
                {% plugin_block "members.profile.image" member %}
            </div>
            <div class="block block-list__item">
                <table>
                    {% if member.first_name or member.last_name %}
                        <tr>
                            <th>Name</th>
                            <td>{{member.first_name}} {{member.last_name}}</td>
                        </tr>
                    {% endif %}
                    {% if member.profile.show_github_urls %}
                        {% if member.profile.github_urls|length > 0 %}
                            <tr>
                                <th>Github</th>
                                <td>
                                    {% for url in member.profile.github_urls %}
                                        <a href="{{url}}" target="_BLANK">{{url}}</a><br />
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                    {% if member.profile.show_facebook_urls %}
                        {% if member.profile.facebook_urls|length > 0 %}
                            <tr>
                                <th>Facebook</th>
                                <td>
                                    {% for url in member.profile.facebook_urls %}
                                        <a href="{{url}}" target="_BLANK">{{url}}</a><br />
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                    {% if member.profile.show_linkedin_urls %}
                        {% if member.profile.linkedin_urls|length > 0 %}
                            <tr>
                                <th>LinkedIn</th>
                                <td>
                                    {% for url in member.profile.linkedin_urls %}
                                        <a href="{{url}}" target="_BLANK">{{url}}</a><br />
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                    {% if member.profile.show_twitter_urls %}
                        {% if member.profile.twitter_urls|length > 0 %}
                            <tr>
                                <th>Twitter</th>
                                <td>
                                    {% for url in member.profile.twitter_urls %}
                                        <a href="{{url}}" target="_BLANK">{{url}}</a><br />
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                    {% if member.profile.show_google_urls %}
                        {% if member.profile.google_urls|length > 0 %}
                            <tr>
                                <th>Google</th>
                                <td>
                                    {% for url in member.profile.google_urls %}
                                        <a href="{{url}}" target="_BLANK">{{url}}</a><br />
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                    {{profile_properties|properties_as_table:custom_properties}}
                </table>
            </div>
            {% if request.user.is_staff %}
                <div class="block block-list__item">
                    <header class="block__header">
                        <h2 class="block__header-text block__header-text--small">Groups</h2>
                    </header>
                        <table>
                            {% for group in member.groups.all %}
                                <tr>
                                    <td>{{group.name}}</td>
                                    <td><a href="{% url "remove_from_group" member.pk group.pk %}" class="confirm" data-confirm="Are you sure you want to remove the user from this group?"><i class="fa fa-trash" title="Remove"></i></a></td>
                                </tr>
                            {% endfor %}
                        </table>

                        {% if member.can_assign_to_group %}
                            <strong>Assign to Group</strong>
                            <form method="POST" action="{% url "assign_to_group" member.pk %}">
                                {% csrf_token %}
                                {{group_form|render}}
                                <button type="submit">Assign</button>
                            </form>
                        {% endif %}
                </div>

                <div class="block block-list__item">
                    <header class="block__header">
                        <h2 class="block__header-text block__header-text--small">Tags</h2>
                    </header>
                        <table>
                            {% for tag in member.tags.all %}
                                <tr>
                                    <td>{{tag.tag}}</td>
                                    <td><a href="{% url "remove_tag" member.pk tag.pk %}" class="confirm" data-confirm="Are you sure you want to remove this tag?"><i class="fa fa-trash" title="Remove"></i></a></td>
                                </tr>
                            {% endfor %}
                        </table>

                        {% if member.can_add_tag %}
                            <strong>Add Tag</strong>
                            <form method="POST" action="{% url "add_tag" member.pk %}">
                                {% csrf_token %}
                                {{tag_form|render}}
                                <button type="submit">Add</button>
                            </form>
                        {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}