{% load plugins %}

<div class="l-container">
    <div class="l-primary-content">
        <header class="block__header">
            <h2 class="block__header-text">
                <a href="{% url "view_event" event.pk %}" class="plain-link">{{event.title}}</a>
            </h2>
        </header>
        {{"events.event_configuration.Description"|get_configuration:event}}
        <ul class="inline-list inline-list--space">
            <li class="valign-together small"><i class="fa fa-user"></i> <a href="{% url "view_event_attendees" event.pk %}">{{event.attending_users|length}} Attendee{{event.attending_users|length|pluralize}}</a></li>

            {% plugin_block "events.event_block.small_info" event %}
        </ul>
    </div>
    <div class="l-secondary-content">
        <div class="icon-text">
            <i class="fa fa-calendar icon-text__icon"></i>
            <span class="icon-text__text">{{event.date_range}}</span>
        </div>
        {% include "events/_location.html" %}

        <div class="ticket-information event-block__sidebar-spacing">
            {% if event.is_future %}
                <span class="ticket-information__available"><strong>{{event.remaining_tickets}}</strong> Tickets available</span>
                {% if event.remaining_tickets > 0 %}
                    <a href="{% url "view_event" event.pk %}" class="btn btn--full-width">
                        Get Tickets
                    </a>
                {% else %}
                    <!-- TODO: Waiting list -->
                    <a href="#" class="btn btn--full-width btn--disabled">
                        No Tickets Available
                    </a>
                {% endif %}
            {% else %}
                <span class="ticket-information__available"><strong>0</strong> Tickets available</span>
                <a href="#" class="btn btn--full-width btn--disabled">
                    No Tickets Available
                </a>
            {% endif %}
        </div>
    </div>
</div>