{% load loops %}

<div class="ticket-purchase">
    <form action="{% url "purchase_tickets" event.pk %}" method="POST">
        {% csrf_token %}
        <table class="responsive">
            <thead>
                <tr>
                    <th></th>
                    <th>Remaining</th>
                    <th>End</th>
                    <th></th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ticket</td>
                    <td class="remaining-tickets">
                        {% if event.remaining_tickets < 1 %}
                            Sold Out
                        {% else %}
                            {{event.remaining_tickets}} Ticket{{event.remaining_tickets|pluralize:",s"}}
                        {% endif %}
                    </td>
                    <td class="end-date">{{event.start.date}}</td>
                    <td>Free</td>
                    <td>
                        {% if event.remaining_tickets > 0 %}
                            <select name="quantity">
                                <option value="1">1</option>
                                {% comment %}{% for n in event.remaining_tickets|times1 %}
                                    <option value="{{n}}">{{n}}</option>
                                {% endfor %}{% endcomment %}
                            </select>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        {% if event.remaining_tickets > 0 %}
            <div class="submit-button">
                <button type="submit">Register</button>
            </div>
        {% endif %}
    </form>
</div>