{% load votes %}
<div class="language-vote">
    {% if event|user_has_voted:request.user %}
        <p>Your preferences have been saved. You may change them up until the voting closes.</p>
    {% endif %}
    
    <p>Put the languages in order of preference to use at the {{event}}.</p>

    <form method="POST" action="{% url "vote" event.pk %}" class="vote-form">
        {% csrf_token %}

        <div class="row">
            <div class="small-6 columns">
                <h3>Your Preferences</h3>
                <p class="small">(We will attempt to use languages higher in the list)</p>
                <ol class="language-list preferences">
                    {% for language in event|languages_for_event:user %}
                        <li>{{language}}</li>
                    {% endfor %}
                </ol>
            </div>
            <div class="small-6 columns">
                <h3>Other Languages</h3>
                <p class="small">(Move these to the left to indicate a preference)</p>
                <ul class="language-list other-languages">
                    {% for language in event.recommended_languages %}
                        {% if not language in event|languages_for_event:user %}
                            <li>{{language}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <input type="text" placeholder="Add another language" class="add-language">
            </div>
        </div>

        <div class="submit-button">
            <input type="hidden" name="languages" value=[]>
            <button type="submit">Save Preferences</button>
        </div>
    </form>
    
</div>