{% load xextends %}
{% xextends "events/base.html" with secondary_nav=secondary_nav %}

{% load plugins %}

{% block content %}
    <div class="l-container">
        <div class="l-primary-content block-list searchable-list" id="events-list">
            {% for event in events %}
                <div class="block block-list__item event-block searchable-list__item" data-searchable-title="{{event.title}}" data-searchable-description="{{"events.event_configuration.Description"|get_configuration:event}}">
                    {% include "events/_event_block.html" %}
                </div>
            {% empty %}
                <div class="message-box">
                    No matching events.
                </div>
            {% endfor %}
        </div>
        <div class="l-secondary-content block-list">
            {% include "events/_filter_block.html" %}
        </div>
    </div>
{% endblock %}