{% load xextends %}
{% load plugins %}
{% xextends "events/base.html" %}


{% block secondary_navigation %}
    <ul class="inline-list inline-list--space">
        <li><a class="secondary-navigation__link {% if secondary_nav == "view_event" %}secondary-navigation__link--active{% endif %}" href="{% url "view_event" event.pk %}">Info</a></li>
        <li><a class="secondary-navigation__link {% if secondary_nav == "view_event_attendees" %}secondary-navigation__link--active{% endif %}" href="{% url "view_event_attendees" event.pk %}">Attendees</a></li>

        {% plugin_block "events.event.secondary_navigation" secondary_nav event %}
    </ul>
{% endblock %}