{% extends "base.html" %}

{% load loops %}
{% load staticfiles %}
{% load foundation %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="small-12 column">
                <h2>{{event.heading}}</h2>
                <h3>Purchase Tickets</h3>

                <form action="{% url "purchase_tickets" event.id %}" method="POST">
                    {% csrf_token %}
                    {{form|foundation}}
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}