{% extends "base.html" %}
{% load staticfiles %}
{% load plugins %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="small-12 column">
                <h2>{{ticket.event.heading}}</h2>

                <p>You have purchased <strong>{{ticket.number}}</strong> ticket{{ticket.number|pluralize:"s"}} to <a href="{% url "view_event" ticket.event.pk %}">the {{ticket.event}}</a>.</p>

                {{"events.event_configuration.TicketPurchasedMessage"|get_configuration:ticket.event}}

                <p>You will be emailed with more information about the event soon.</p>
            </div>
        </p>
    </div>
{% endblock %}