{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="small-12 column">
                <h2>{{ticket.event.heading}}</h2>

                <p>You have purchased <strong>{{ticket.number}}</strong> ticket{{ticket.number|pluralize:"s"}} to <a href="{% url "view_event" ticket.event.pk %}">the {{ticket.event}}</a>.</p>

                {% if ticket.event.is_voting %}
                    <h2>Vote for the language to be used.</h2>
                    {% include "events/_vote_widget.html" with event=ticket.event %}
                {% endif %}

                <p>You will be emailed with more information about the event soon.</p>
            </div>
        </p>
    </div>
{% endblock %}