{% load xextends %}
{% xextends "events/event_base.html" with secondary_nav="view_event" %}

{% load staticfiles %}
{% load markdown_deux_tags %}
{% load tickets %}
{% load plugins %}

{% block content %}
    <div class="l-container">
        <div class="block-list__item block">
            <h2>{{event}}</h2>
        </div>
        <div class="l-primary-content block-list">

            <div class="block-list__item block">
                {{"events.event_configuration.Description"|get_configuration:event}}
            </div>

            <div class="block-list__item block">
                <header class="block__header">
                    <h2>Tickets</h2>
                </header>
                {% include "events/_ticket_widget.html" %}
            </div>
        </div>
        <div class="l-secondary-content block-list">
            <div class="block-list__item block">
                <div class="icon-text">
                    <i class="fa fa-calendar icon-text__icon"></i>
                    <span class="icon-text__text">{{event.date_range}}</span>
                </div>
                {% if event.location %}
                    <div class="icon-text event-block__sidebar-spacing">
                        <i class="fa fa-map-marker icon-text__icon"></i>
                        <div class="icon-text__text">
                           {{event.location}}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="block-list__item block">
                <header class="block__header">
                    <h2>Attendees</h2>
                </header>
            </div>
        </div>
    </div>
{% endblock %}