{% extends "base.html" %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="small-12 column">
                <h2>{{event.heading}}</h2>

                {% if event.sponsor %}
                    <p>The {{event}} was kindly sponsored by <a href="{{event.sponsor.url}}">{{event.sponsor.name}}</a>.</p>
             
                    <blockquote>
                        <div style="text-align: center; margin-bottom: 2em;">
                            <a href="{{event.sponsor.url}}"><img style="max-width: 100%;" src="{{event.sponsor.logo.url}}"></a>
                        </div>
                        {{event.sponsor.description|markdown}}
                    </blockquote>
                {% endif %}
                {% if event.challenge_text %}
                    <h2>The Challenge</h2>
                    <div id="challenge-text">
                        {{event.challenge_text|markdown}}
                    </div>
                {% endif %}
                <h2>Solutions</h2>
                {% if event.image %}
                    <div class="image" id="event-image">
                        <img src="{{ event.image.url }}">
                    </div>
                {% endif %}
                {% if event.solution_text %}
                    <div id="solution-text">
                        {{event.solution_text|markdown}}
                    </div>
                {% endif %}
                {% if event.solutions.count > 0 %}
                    <table class="solutions" id="event-solutions">
                        {% for solution in event.solutions.all %}
                            <tr>
                                {% if solution.description %}
                                    <th><a href="{{solution.github_url}}">{{solution.name}}</a></th>
                                    <td>{{solution.description}}</td>
                                {% else %}
                                    <th colspan="2"><a href="{{solution.github_url}}">{{solution.name}}</a></th>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </p>
    </div>
{% endblock %}